﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balram Pure ghee </title>
    <link rel="icon" type="image/ico" href="~/Content/images/logo.png" />

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <!-- Google Tag Manager -->
    
</head>
<body>
    <!--:::::::: Start: Preloader section ::::::::-->
    <div class="preloader">
        <div class="loader loader1"></div>
        <div class="loader loader2"></div>
        <div class="loader loader3"></div>
        <div class="loader loader4"></div>
        <div class="loader loader5"></div>
        <div class="loader loader6"></div>
        <div class="loader loader7"></div>
        <div class="loader loader8"></div>
    </div>
    <!-- :::::::: End: Preloader section  ::::::::-->
    <!-- Start: Header Section
    ==================================================-->
    <div class="header_topbar" id="top">
        <!-- Logo -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 header_top_right list-unstyled">
                    <ul>
                        <li><i class="fa fa-envelope"></i>balrampureghee@gmail.com</li>
                        <li><i class="fa fa-phone"></i>8197937912</li>
                    </ul>
                </div>
                <div class="col-md-6 header_top_left">
                    @*<ul class="header_socil list-inline pull-left">
            <li><i class="far fa-clock"></i>08:00 am - 8:00 pm</li>
            <li>
                <a href="#" class="fab fa-facebook-f"></a>
            </li>
            <li>
                <a href="#" class="fab fa-twitter"></a>
            </li>
            <li>
                <a href="#" class="fab fa-linkedin-in"></a>
            </li>
            <li>
                <a href="#" class="fab fa-skype"></a>
            </li>
        </ul>*@
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End: Header Info -->
    <!-- Start: header navigation -->
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="logo col-md-2 col-sm-2">
                    <a href="/Home/Index">
                        <img class="img-responsive mt-0" src="~/Content/images/logo.png" alt="Ghee" />
                    </a>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div id="navigation">
                        <ul>
                            <li class="active">
                                <a href="/Home/Index">Home</a>
                            </li>
                            <li class="">
                                <a href="/Home/Objective">Objective</a>
                            </li>

                            <li class="has-sub">
                                <a href="/Home/About">About Us</a>
                                <ul>
                                    <li><a href="/Home/VisionMission">Vision & Mission</a></li>
                                    @*<li><a href="/Home/Certificate">ISO Certificate</a></li>*@

                                </ul>
                            </li>
                            <li class="">
                                <a href="/Home/Gallery">Gallery</a>
                            </li>
                            @*<li>
                                    <a href="/Home/ComingSoon">Online Shopping</a>
                                </li>*@
                            @*<li class="has-sub">
                                    <a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Blog Page</a> </li>
                                        <li><a href="single-blog.html">Blog Details</a></li>
                                    </ul>
                                </li>*@
                            <!--<li class="has-sub">
                            <a href="#">Shop</a>

                            <ul>-->
                            @*<li><a href="/Product/SingleProduct">Shop Details</a></li>
                                <li><a href="/Product/Cart">cart page</a></li>
                                <li><a href="/Product/CheckOut">checkout </a></li>*@
                            @*<li><a href="/Account/Login">Account </a></li>*@
                            <!--</ul>
                            </li>-->
                            <li><a href="/Product/Products">Product</a> </li>

                            <li><a href="/Home/Contact">Contact</a></li>
                            @if (Session["UserID"] == null)
                            {


                                <li><a href="/Account/Login/"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                            }
                            else
                            {

                                <li>
                                    <a href="#">Logout</a>
                                    <ul>
                                        <li><a href="/Account/userprofile">Personal Information</a> </li>
                                        <li><a href="/Account/address">Manage Address</a> </li>
                                        <li><a href="/Product/getorder">Order </a></li>
                                        <li><a href="/Account/Signout/"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </li>

                            }

                        </ul>
                    </div>
                    <!-- End: Menu  -->
                </div>

                <!-- Start: Search & Cart  -->
                <div class="header_cart col-md-2 col-sm-2">
                    <ul>
                        @*<li class="header_search">
                                <a href="#" class="search-trigger"><i class="fal fa-search"></i></a>
                                <div class="search_wrp">
                                    <i class="search_close open icon-glyph-146" id="search_close"></i>
                                    <div class="search_frm">
                                        <form method="get">
                                            <div class="search-field">
                                                <input type="search" class="header-search-input"
                                                       placeholder="Search Your Keyword...">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>*@
                        @*<li class="header_cart_icon">
                                <a href="javascript:void(0);"><i class="fal fa-shopping-cart"></i></a>
                                <span class="cart_count"> 0 </span>
                            </li>*@
                    </ul>
                </div>
                <!-- End: Cart  -->
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
    </div>
    <!-- End: header navigation -->
    <!-- Start: Cart Sidebar -->
    <section class="cart_sidebar_info transition-3">
        <div class="info_inner transition-3">
            <div class="menu_sidebar_logo">
                <img src="~/Content/images/logo.png" alt="">
                <a href="javascript:void(0);" class="cart_sidebar_close-btn"><i class="fa fa-times"></i></a>
            </div>
            <!-- /. logo  -->
            <!-- Cart item -->
            <div class="cart-modal-body">
                <h2>My Order</h2>
                <div class="cart-modal-product-wrap">
                    <div class="cart-modal-product">
                        <div class="cart-modal-img">
                            <a href="shop.html">
                                <img src="~/Content/images/product2.jpg" alt="product">
                            </a>
                        </div>
                        <div class="cart-modal-content">
                            <h4><a href="shop-details.html">Organic Grassfed Butter </a></h4>
                            <div class="cart-modal-action">
                                <div class="cart-modal-action-item">
                                    <div class="cart-modal-quantity">
                                        <p>1</p>
                                        <p>x</p>
                                        <p class="cart-quantity-price">₹ 8.30</p>
                                    </div>
                                </div>
                                <div class="cart-modal-delete">
                                    <a href="#"><i class="icofont-ui-delete"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-modal-product">
                        <div class="cart-modal-img">
                            <a href="#">
                                <img src="~/Content/images/product3.jpg" alt="product">
                            </a>
                        </div>
                        <div class="cart-modal-content">
                            <h4><a href="shop-details.html">Organic Grassfed Butter </a></h4>
                            <div class="cart-modal-action">
                                <div class="cart-modal-action-item">
                                    <div class="cart-modal-quantity">
                                        <p>1</p>
                                        <p>x</p>
                                        <p class="cart-quantity-price">₹ 12.50</p>
                                    </div>
                                </div>
                                <div class="cart-modal-delete">
                                    <a href="#"><i class="icofont-ui-delete"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-modal-total">
                    <p>Total</p>
                    <h3>₹45.00</h3>
                </div>
                <div class="cart-modal-button">
                    <a href="#" class="slider_btn_one more-link ">Proceed To Checkout</a>
                    <a href="#" class="slider_btn_one more-link ">View Shopping Cart</a>
                </div>
            </div>
            <!-- end: Cart item -->

        </div>
        <!-- /. info_inner-->
    </section>
    <div class="body-overlay transition-3"></div>
    <!-- Start: Cart Sidebar -->
    <section class="cart_sidebar_info transition-3">
        <div class="info_inner transition-3">
            <div class="menu_sidebar_logo">
                <img src="~/Content/images/logo.png" alt="">
                <a href="javascript:void(0);" class="cart_sidebar_close-btn"><i class="fa fa-times"></i></a>
            </div>
            <!-- /. logo  -->
            <!-- Cart item -->
            <div class="cart-modal-body">
                <h2>My Order</h2>
                <div class="cart-modal-product-wrap">
                    <div class="cart-modal-product">
                        <div class="cart-modal-img">
                            <a href="#">
                                <img src="~/Content/images/product2.jpg" alt="product">
                            </a>
                        </div>
                        <div class="cart-modal-content">
                            <h4><a href="#">Organic Grassfed Butter </a></h4>
                            <div class="cart-modal-action">
                                <div class="cart-modal-action-item">
                                    <div class="cart-modal-quantity">
                                        <p>1</p>
                                        <p>x</p>
                                        <p class="cart-quantity-price">₹ 8.30</p>
                                    </div>s
                                </div>
                                <div class="cart-modal-delete">
                                    <a href="#"><i class="icofont-ui-delete"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-modal-product">
                        <div class="cart-modal-img">
                            <a href="#">
                                <img src="~/Content/images/product3.jpg" alt="product">
                            </a>
                        </div>
                        <div class="cart-modal-content">
                            <h4><a href="shop-details.html">Organic Grassfed Butter </a></h4>
                            <div class="cart-modal-action">
                                <div class="cart-modal-action-item">
                                    <div class="cart-modal-quantity">
                                        <p>1</p>
                                        <p>x</p>
                                        <p class="cart-quantity-price">₹ 12.50</p>
                                    </div>
                                </div>
                                <div class="cart-modal-delete">
                                    <a href="#"><i class="icofont-ui-delete"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-modal-total">
                    <p>Total</p>
                    <h3>₹45.00</h3>
                </div>
                <div class="cart-modal-button">
                    <a href="#" class="slider_btn_one more-link ">Proceed To Checkout</a>
                    <a href="#" class="slider_btn_one more-link ">View Shopping Cart</a>
                </div>
            </div>
            <!-- end: Cart item -->

        </div>
        <!-- /. info_inner-->
    </section>
    <div class="body-overlay transition-3"></div>
    <!-- Start: Cart Sidebar -->




    <div>
        @RenderBody()
        <!-- Start:Footer Section
        ==================================================-->
        <footer class="footer-section">
            <div class="container">
                <div class="row">
                    <!-- Start: About -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget">
                            <div class="footer_logo">
                                <img class="img-responsive" src="~/Content/images/logo.png" alt="">
                            </div>
                            <div class="footer_p">
                                <p class="footer_para">
                                    Passionate About Purity
                                </p>
                            </div>
                            <div class="footer_contact">
                                <div class="footer_contact_address">
                                    <div class="footer-contact-icon">
                                        <i class="far fa-envelope-open"></i>
                                    </div>
                                    <div class="footer-contact-text">
                                        <span>balrampureghee@gmail.com</span>
                                    </div>
                                </div>

                                <div class="footer-contact-address">
                                    <div class="footer-contact-icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="footer-contact-text">
                                        <span>Abhrampura,Taluka-Vijapur,District-Mahesana ,Uttar Gujarat-384520,India</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End: About -->
                    <!-- Start: Quick Link -->
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <div class="widget quick_lnk ">
                            <h5>Quick Link</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <a href="/Home/Objective">Objective</a>
                                        </li>

                                        <li><a href="/Home/VisionMission">Vision & Mission</a></li>
                                        <li><a href="/Home/About">About page</a></li>
                                        <li>
                                            <a href="/Home/Content#Terms"> Terms & Conditions</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <a href="/Home/Content#Privacy"> Privacy policy</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Content#Refund"> Refund policy</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Content#Shipping"> Shipping  policy</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End: Quick Link -->
                    <!-- Start: Latest post -->
                    @*<div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget">
                                <h5>Latest Articles</h5>
                                <ul class="footer_recent_blog">
                                    <li>
                                        <a href="/Home/Content">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <a href="/Home/Content">Privacy policy</a>
                                    </li>
                                    <li>
                                        <a href="/Home/Content">Refund & Cancellation</a>
                                    </li>
                                    <li>
                                        <a href="/Home/Content#sandip">Shippincy policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                    <!-- End: Latest post -->
                    <!-- Start:Newsletter -->
                    <!--<div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <h5>Newsletter</h5>-->
                    <!-- Start Subscribe -->
                    <!--<div class="news_letter_wrp">
                    <p>
                        Subscribe our newsletter to get more update & join to hylik to dolor conse ctetur at
                        adipis cin.
                    </p>
                    <form class="mailchimp">-->
                    <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                    <!--<input class="email_field" type="text" name="email" id="subscriber-email"
                               placeholder="Email Address">
                        <button class="submit-contact" type="submit" id="subscribe-button">
                            <i class="fal fa-arrow-right"></i>
                        </button>
                        <span class="subscription-success"> </span>
                        <span class="subscription-error"> </span>
                        <label class="subscription-label" for="subscriber-email"></label>
                    </form>-->
                    <!-- /END MAILCHIMP FORM STARTS -->
                    <!--</div>
                        </div>
                    </div>-->
                    <!-- End:Newsletter -->
                </div>

                <!-- Start:Subfooter -->
                <div class="subfooter_wrap">
                    <div class="subfooter">
                        <p>2021 © Copyright <a href="/Home/Index">Balram Pure ghee</a> All rights Reserved.</p>
                    </div>

                    <div class="footer_socil">
                        @*<ul class="list-icons link-list footer_soc">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                </li>
                            </ul>*@
                    </div>
                    <!-- End:Subfooter -->
                </div>
            </div>
        </footer>
        <!-- End:Footer Section
        ==================================================-->

    </div>
    <!-- Start: scrollup Section
       ==================================================-->

    <div class="scrollup">
        <a href="#top"> <i class="fal fa-chevron-double-up"></i> </a>
    </div>

    <!-- End: scrollup Section
    ==================================================-->
    <!-- Scripts
    ========================================-->
    <!-- jquery -->

    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <!-- plugins -->

    <script src="@Url.Content("~/Scripts/plugins.js")"></script>
    <!-- Bootstrap -->

    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <!-- slick carousel  -->

    <script src="@Url.Content("~/Scripts/slick.min.js")"></script>

    <!-- owl carousel  -->

    <script src="@Url.Content("~/Scripts/owl-carousel.js")"></script>
    <!-- Filter gallery -->

    <script src="@Url.Content("~/Scripts/isotope.js")"></script>
    <!-- Image Zoom  -->

    <script src="@Url.Content("~/Scripts/magnific-popup.js")"></script>
    <!-- ajax Mail chimp  -->

    <script src="@Url.Content("~/Scripts/jquery.ajaxchimp.min.js")"></script>
    <!-- Image Parallax -->

    <script src="@Url.Content("~/Scripts/stellar.min.js")"></script>
    <!-- Custom Scripts
    ========================================-->
    <script src="@Url.Content("~/Scripts/main.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    @RenderSection("scripts", required: false)

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>


</body>
</html>
