﻿
@{
    ViewBag.Title = "About";
}
<div class="row">
    
    <!-- breadcrumb -->
    <header class="breadcrumb-section">
        <!-- Start: Header Content -->
        <div class="container">
            <div class="row wow fadeIn" data-wow-delay="0.5s">
                <div class="col-sm-12">
                    <!-- Headline Goes Here -->
                    <h3>About Us</h3>
                    <p>
                        <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> About Us
                    </p>
                </div>
            </div>
            <!-- End: .row -->
        </div>
        <!-- End: Header Content -->
    </header>
    <!--/. breadcrumb
    ==================================================-->
    <!-- Start: About Us Section
    ==================================================-->
    <section class="about-section about-pg-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 my-auto">
                    <div class="base-header base_header_left">
                        <span class="heading_small">
                            About Us
                        </span>
                        <h2> Know About Our Purity</h2>
                        <p style=" text-align: justify; " class="bs_coustom_text">
                            We are Indian.
                            We have started our journey in search of quality product.
                            But its very difficult to search quality product.
                            It is consuming time and cost both for searching a quality product.
                        </p>
                        <div class="about_list">
                            <img src="~/Content/images/ABOUT_2.png" alt="">
                            <p style=" text-align: justify; " class="bs_coustom_text">
                                Finally we have decided to make the quality product in front of our Eyes.
                                So there is no scope for adulteration as we are making the same.

                            </p>
                        </div>
                        <p style=" text-align: justify; " class="bs_coustom_text">
                            During the journey of making quality product many people have advice for increase the profit margin by some adulteration technique but we strongly opposed.
                            As we know that the adulteration will not support us in the long run.
                            So if you buy from us then be relaxed and don’t worry about quality.

                        </p>

                        @*<a href="about.html" class="more-link">Read More <i class="far fa-chevron-double-right"></i></a>*@
                    </div>
                </div>
                <!-- /.about_wrp-->
                <div class="col-lg-6 col-md-12" id="scene">
                    <div class="about_img layer" data-depth="0.20">
                        <img src="~/Content/images/ABOUT_1.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="row mt-4">

                <ul class="nav nav-tabs flex-column offset-2 col-md-2  col-sm-2">
                    <li class="active">
                        <a type="button" data-toggle="tab" href="#StorageInstrucitons">
                            Storage Instrucitons
                        </a>
                    </li>
                    <li><a data-toggle="tab" href="#Processing">Processing</a></li>
                    <li><a data-toggle="tab" href="#Bilon">Why Bilona Ghee is costly</a></li>
                    <li>
                        <a data-toggle="tab" href="#Import">
                            Important Message
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Color">
                            What color should ghee be
                        </a>
                    </li>
                </ul>
                <div class="tab-content col-md-8 col-sm-8 ">
                    <div id="StorageInstrucitons" class="tab-pane fade in active">
                        <h3>
                            Storage Instrucitons
                        </h3>
                        <ul class="bs_coustom_text">
                            <li>
                                By using glass bottles one can keep ghee safe and delicious for extended periods.
                            </li>
                            <li>The ideal temperature for storing ghee and to ensure its shelf life around 10-12 months is 21-degree celsius.</li>
                            <li>
                                Temperatures higher than this can reduce its shelf life drastically.

                            </li>
                            <li>
                                A jar of ghee in the freezer at 0°F can be kept indefinitely.

                            </li>
                            <li>
                                Once opened, a jar<strong> can be kept for 3 months </strong>  in a cool, dark place.

                            </li>
                        </ul>
                    </div>
                    <div id="Processing" class="tab-pane fade">
                        <h3>Processing </h3>
                        <p class="bs_coustom_text" style="text-align: justify;">
                            The traditional method of making ghee (bilona) is quite elaborate. Cow's milk is boiled and cooled. Then a spoonful of curd is added to this milk and kept at room temperature overnight. The curd is then churned to extract butter from it. As a result, this ghee <strong> retains more vitamins and nutrients</strong>
                            .
                        </p>
                    </div>
                    <div id="Bilon" class="tab-pane fade">
                        <h3>
                            Why Bilona Ghee is costly
                        </h3>
                        <p class="bs_coustom_text" style="text-align: justify;">
                            When we make ghee using the Bilona method, the entire process involves manual efforts. Also the milk usage in this process is more compare to other method. Bilona ghee acts an important supplement to maintaining the healthy functioning of the heart, brain and also helps with bone strength. It is also rich in vitamin-A Helps  Glowing Skin.Though ghee is rich in fat, it contains high concentrations of monounsaturated Omega-3s. These healthful fatty acids<strong> support a healthy heart and cardiovascular system</strong>. Studies show that using ghee as a part of a balanced diet can help reduce unhealthy cholesterol levels.
                        </p>
                    </div>
                    <div id="Import" class="tab-pane fade">
                        <h3>
                            Important Message
                        </h3>
                        <ul class="bs_coustom_text" style="text-align: justify;">
                            <li>
                                <strong>Honey</strong> should not be used with ghee if use it turns the poison.
                            </li>
                            <li>
                                During<strong> fever</strong> also it is recommended not to consume ghee.
                            </li>
                        </ul>

                    </div>
                    <div id="Color" class="tab-pane fade">
                        <h3>
                            What color should ghee be
                        </h3>
                        <p class="bs_coustom_text" style="text-align: justify;">
                            The real colour of pure desi ghee is<strong> yellowish or golden </strong>. Ghee not made from Bilona process is not yellowish.
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <!-- /. container -->
    </section>

    <!-- End: About Us Section
    ==================================================-->
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
