﻿
@{
    ViewBag.Title = "Certificate";
}
<style>
    .geeks:hover img {
        transform: scale(1.5);
    }
</style>

<!-- breadcrumb -->
<header class="breadcrumb-section">
    <!-- Start: Header Content -->
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                <h3>ISO Certificate</h3>
                <p>
                    <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> ISO Certificate
                </p>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<!--/. breadcrumb
==================================================-->
<!-- Start: About Us Section
==================================================-->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 my-auto">
                <div class="base-header base_header_left">
                    <span class="heading_small">
                        ISO Certificate
                    </span>
                    <h4>
                        What is the ISO 9001 Standard?
                    </h4>
                    <p style="text-align: justify; text-justify: inter-word;">
                        The ISO 9001 standard is a document that describes all of the requirements needed in order to create and maintain a quality management system as described in ISO 9000. This is a subtle difference between ISO 9000 and ISO 9001 that some fail to recognize. So, to explicitly point it out, the difference between the two (ISO 9000 vs 9001) is summarized as the definition of quality management system (ISO 9000) and requirements needed to meet that definition (ISO 9001).
                        Both the ISO 9000 and 9001 standards are based on a number of quality management principles including a strong customer focus, the motivation, and implication of top management, the process approach and continual improvement. The seven quality management principles include the following as described by the ISO:

                    </p>


                    @*<a href="/Home/About" class="more-link">Read More <i class="far fa-chevron-double-right"></i></a>*@
                </div>


            </div>
            <!-- /.about_wrp-->
            <div class="col-lg-6 col-md-12" id="scene">
                <div class="about_img layer geeks" data-depth="0.20">
                    <img src="~/Content/images/ISO Certificate.jpg" alt="image">
                </div>
            </div>
        </div>

        <div class="col-lg-12" style="text-align: justify; text-justify: inter-word; ">
            @*<img src="~/Content/images/test-objective.jpg" alt="">*@
            <ol>
                <li>
                    Customer focus – Quality management primarily focuses on meeting customer requirements and striving to exceed customer expectations.

                </li>
                <li>
                    Leadership – Helping leaders to establish unity of purpose and direction at all levels and to create conditions to engage members of the organization in achieving the organization’s quality objectives.

                </li>
                <li>
                    Engagement of people – Obtaining and maintaining (at all levels throughout the organization) competent, empowered, and engaged people to enhance the organization’s capability to create and deliver value.

                </li>
                <li>
                    Process approach – Delivering consistent and predictable results through the use of effective and efficient activities that are understood and managed as interrelated processes that function as a coherent system.

                </li>
                <li>
                    Improvement – Maintaining an ongoing, organization-wide focus on improvement.

                </li>
                <li>
                    Evidence-based decision making – Using the analysis and evaluation of data and information in the decision making process to produce desired results.

                </li>
                <li>
                    Relationship management – Managing the organization’s relationships with related parties, such as partners or vendors, for sustained success.
                </li>
            </ol>
        </div>
    </div>
    <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End: About Us Section
==================================================-->
