﻿
@{
    ViewBag.Title = "ComingSoon";
}

<!-- Start: 404 Section
==================================================-->
<section class="not-found-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-auto">

                <div class="not-found">
                    <h2 class="error-body-404"> Coming Soon </h2>
                    <span class="error-body-description">
                        Work In Progress <a href="/Home/Index" class="go-back">
                            Go Back
                        </a>
                    </span>
                    <div class="notfound_btn">
                        <a href="/Home/Index" class="more-link">
                            Homepage <i class="far fa-chevron-double-right"></i>
                        </a>
                        <a href="/Home/Index" class="more-link">
                            Shoppimg <i class="far fa-chevron-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /. row -->
        </div>
        <!-- End: History  Section -->
    </div>
    <!-- /. container -->
</section>
<!-- End: 404 Section
==================================================-->
