﻿
@{
    ViewBag.Title = "Content";
}

<!-- breadcrumb -->
<header class="breadcrumb-section">
    <!-- Start: Header Content -->
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                <h3> Policy</h3>
                <p>
                    <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> Policy
                </p>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<div class="container">
    <div class="product_des tab-pane fade show active" id="Privacy" role="tabpanel"
         aria-labelledby="nav-home-tab">
        <p style=" text-align: justify; " class="bs_coustom_text">
            <h4>
                Privacy Policy
            </h4>
            When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically-collected information as “Device Information. Says how your personal information is collected, used, and shared when you visit or make a purchase from us.We share your Personal Information with third parties to help us use your Personal Information, as described above. For example, we use Shopify to power our online store--you can read more about how Shopify uses your Personal Information here: <a href="https://www.shopify.com/legal/privacy" class="text-primary"> https://www.shopify.com/legal/privacy</a>. We also use Google Analytics to help us understand how our customers use the Site -- you can read more about how Google uses your Personal Information here: <a href="https://www.google.com/intl/en/policies/privacy/" class="text-primary"> https://www.google.com/intl/en/policies/privacy/</a> . You can also opt-out of Google Analytics here: <a href=" https://tools.google.com/dlpage/gaoptout.Finally" class="text-primary">  https://tools.google.com/dlpage/gaoptout.Finally</a> , we may also share your Personal Information to comply with applicable laws and regulations. if you have any questions related to our privacy policy please feel free to contact us.
        </p>

    </div>
    <div class="product_aditi_cont tab-pane fade show" id="Refund" role="tabpanel"
         aria-labelledby="nav-profile-tab">
        <p style=" text-align: justify; " class="bs_coustom_text">
            <h4>
                Refund Policy
            </h4>
            We believe in purity and we are adhered too. We never add or mix anything in our ghee.
            So, we strongly believed that our product is 100% pure with 0% adulteration. So the question of refund is not comes. Once goods sold it will not return , refund or exchange.
            In case if the product is delivered in a damage condition then dont use the same and inform us immediately.
        </p>

    </div>

    <div class="product_revi tab-pane fade show" id="Shipping" role="tabpanel"
         aria-labelledby="nav-contact-tab">
        <div class="revi_text">
            <p style=" text-align: justify;" class="bs_coustom_text">
                <h4>
                    Shipping Policy
                </h4>

                This policy suggest the terms and conditions of our Shipping Policy. All orders we receive will be processed on high priority. If there will be delay in shipment of your order, we will contact you via email or telephone. Please note that we processed and make ready for dispatch within 3 days and it will  delivered within 7 days. So within 10 days you will receive your pure ghee through courier.

            </p>

        </div>

    </div>

    <div class="product_revi tab-pane fade show" id="Terms" role="tabpanel"
         aria-labelledby="nav-contact-tab">
        <div class="revi_text">
            <p style=" text-align: justify; " class="bs_coustom_text">
                <h4>
                    Terms & Conditions
                </h4>

                The use of this website is subject to the following terms of use:

            </p>
            <ol>
                <li>
                    We are not responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such advertisers on the Sites.
                </li>
                <li>
                     <u>www.puredesigheeofindia.co.in</u>  website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through our website meet your specific requirements.
                </li>
                <li>
                    You understand that <u>www.puredesigheeofindia.co.in</u> has the right at all times to disclose any information as necessary to satisfy any law, regulation or valid governmental request. In addition, we can disclose any information about you to law enforcement or other government officials.
                </li>
                <li>
                    Your use of any information or materials on <u>www.puredesigheeofindia.co.in</u> reserves the right to change this website and these terms and conditions at any time. This information can be changed any time without notice.

                </li>
                <li>
                    Use of <a href="http://puredesigheeofindia.co.in/" class="text-primary"> www.puredesigheeofindia.co.in</a>  website is governed by our Privacy Policy
                </li>
                <li>
                    Unauthorized use of our website may give rise to a claim for damages and/or be a criminal offence.

                </li>
                <li>
                    Please send any questions or comments including all inquiries regarding our website at our contact us pages.
                </li>
                <li>
                    By accessing our websites for purchasing our product assumed that you are agreed with the terms mention in the terms and condition listed on our website.
                </li>
            </ol>


        </div>

    </div>
</div>
