﻿@model puredesighee.Models.Enquiry

@{
    ViewBag.Title = "Contact";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- breadcrumb -->
    <header class="breadcrumb-section">
        <!-- Start: Header Content -->
        <div class="container">
            <div class="row wow fadeIn" data-wow-delay="0.5s">
                <div class="col-sm-12">
                    <!-- Headline Goes Here -->
                    <h3>Contact Us</h3>
                    <p>
                        <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> Contact Us
                    </p>
                </div>
            </div>
            <!-- End: .row -->
        </div>
        <!-- End: Header Content -->
    </header>
    <!--/. breadcrumb
    ==================================================-->
    <!-- Start: Contact Section
    ==================================================-->
    <section class="contact-section contact_pg_contact">
        <div class="container">
            <div class="contact_wrp">
                <div class="row">

                    <div class="col-lg-4 col-sm-12">
                        <!-- Start: Heading -->
                        <div class="base-header base_header_left">
                            <span class="heading_small">Message</span>
                            <h2> Get in touch </h2>
                        </div>
                        <!-- End: Heading -->
                        <div class="contact_pg_address">
                            <div class="single_con_add">
                                <a href="#"><i class="fas fa-map-marked-alt"></i></a>
                                <span>Location</span>
                                <br />
                                <h4>Yash Enterprise</h4>
                                <h4>Abhrampura, <br />Taluka-Vijapur, <br />District-Mahesana ,<br />Gujarat-384520,India</h4>
                            </div>
                            <div class="single_con_add">
                                <a href="#"><i class="fas fa-envelope-open-text"></i></a>
                                <span>Email </span>
                                <h4>balrampureghee@gmail.com</h4>
                            </div>
                            <div class="single_con_add">
                                <a href="#"><i class="fas fa-phone-alt"></i></a>
                                <span>Phone</span>
                                <h4>8197937912</h4>
                            </div>
                        </div>
                    </div>
                    <!--  Contact Form  -->
                    <div class="col-lg-8 col-sm-12 contact-form-warper">
                        @*<form method="post" action="mailer.php" id="contact-form">*@
                            <div class="row">
                                <div class="col-lg-12 contact_col_left">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="col-md-12">
                                        @if (TempData["Error"] != null)
                                        {
                                            <div class="alert alert-danger">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>Worng ! </strong>@TempData["Error"]
                                            </div>

                                        }
                                        @if (TempData["Message"] != null)
                                        {
                                            <div class="alert alert-success">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>Success ! </strong>@TempData["Message"]
                                            </div>

                                        }
                                    </div>
                                    <div class="row">

                                        <div class="col-lg-6 col-sm-12">
                                            <label for="name">
                                                <i class="fal fa-user"></i>
                                                @Html.EditorFor(model => model.customername, new { htmlAttributes = new { @class = "con-field", @placeholder = "Name" } })
                                                @Html.ValidationMessageFor(model => model.customername, "", new { @class = "text-danger" })

                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                            <label for="email">
                                                <i class="fal fa-envelope"></i>
                                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "con-field", @placeholder = "Email" } })
                                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                                            </label>
                                        </div>

                                        <div class="col-lg-6 col-sm-12">
                                            <label for="phone">
                                                <i class="fal fa-phone"></i>
                                                @Html.EditorFor(model => model.mobileno, new { htmlAttributes = new { @class = "con-field", @placeholder = "Mobile NO" } })
                                                @Html.ValidationMessageFor(model => model.mobileno, "", new { @class = "text-danger" })
                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                            <label for="subject">
                                                <i class="fal fa-sticky-note"></i>
                                                @Html.EditorFor(model => model.subject, new { htmlAttributes = new { @class = "con-field", @placeholder = "Subject" } })
                                                @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 contact_col_right">
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12">
                                            <label for="message">
                                                <i class="fal fa-pencil-alt"></i>
                                                @Html.TextAreaFor(model => model.remark, new { @class = "con-field", @placeholder = "Case Details" })

                                                @Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })
                                            </label>
                                        </div>
                                        <div class="col-sm-12 contact_col_full">
                                            <input type="submit" id="submit-contact" class="btn-alt" value="Submit Now">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        @*</form>*@
                    </div>
                    <!-- End:Contact Form  -->
                    @*<div class="col-sm-12 map-container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.023938894304!2d-81.38341548467582!3d19.324767486945657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f2587a9a0b98737%3A0x38fe616bb6df631f!2s638+W+Bay+Rd%2C+Cayman+Islands!5e0!3m2!1sen!2sus!4v1549260798680"></iframe>
                        </div>*@
                </div>
                <!-- row /- -->
            </div>
        </div>
        <!-- container /- -->
    </section>
    <!-- End : Contact Section
    ==================================================-->
}