﻿
@{
    ViewBag.Title = "Gallery";
}

    <!-- breadcrumb -->
    <header class="breadcrumb-section">
        <!-- Start: Header Content -->
        <div class="container">
            <div class="row wow fadeIn" data-wow-delay="0.5s">
                <div class="col-sm-12">
                    <!-- Headline Goes Here -->
                    <h3>Our Gallery</h3>
                    <p>
                        <a href="index.html"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> Gallery
                    </p>
                </div>
            </div>
            <!-- End: .row -->
        </div>
        <!-- End: Header Content -->
    </header>
    <!--/. breadcrumb
    ==================================================-->
    <!-- Start: Work Section
    ==================================================-->
    <section class="work-section gallery_pg_one">
        <div class="container">
            <!-- Start: Heading -->
            <div class="base-header">
                <span class="heading_small"> Gallery </span>
                <h2>Our Gallery</h2>
            </div>
            <!-- End: Heading -->
            <!-- Start: Work filter -->
            @*<ul class="projects-titles">
                <li class="active" data-filter="*">
                    <span>all</span>
                </li>
                <li data-filter=".web">
                    <span>Cheese</span>
                </li>
                <li data-filter=".design">
                    <span>Dairy </span>
                </li>
                <li data-filter=".graphics">
                    <span>Milk </span>
                </li>
                <li data-filter=".clean">
                    <span>Yogurts </span>
                </li>
            </ul>*@
            <!-- End: Work filter -->
            <div class="row projects-list">
                <div class="col-md-4 col-sm-12 web graphics">
                    <div class="single-project-item">
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Content/images/g1.jpg"><i class="fal fa-plus"></i></a>
                                <h6><a href="#">Pure Desi Ghee </a></h6>
                                <span><a href="#">Ghee</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Work Item 1 -->
                <div class="col-md-4 col-sm-12 design clean">
                    <div class="single-project-item project-bg-2">
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Content/images/g2.jpg"><i class="fal fa-plus"></i></a>
                                <h6><a href="gallery.html">Pure Desi Ghee </a></h6>
                                <span><a href="single-gallery.html">Ghee</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Work Item 2 -->
                <div class="col-md-4 col-sm-12 web design">
                    <div class="single-project-item project-bg-3">
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Content/images/g3.jpg"><i class="fal fa-plus"></i></a>
                                <h6><a href="gallery.html">Pure Desi Ghee </a></h6>
                                <span><a href="single-gallery.html">Ghee</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Work Item 3 -->

                <div class="col-md-4 col-sm-12 design web clean">
                    <div class="single-project-item project-bg-4">
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Content/images/g4.jpg"><i class="fal fa-plus"></i></a>
                                <h6><a href="gallery.html">Pure Desi Ghee </a></h6>
                                <span><a href="single-gallery.html">Ghee</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Work Item 4 -->
                <div class="col-md-4 col-sm-12 web graphics">
                    <div class="single-project-item project-bg-5">
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Content/images/g5.jpg"><i class="fal fa-plus"></i></a>
                                <h6><a href="gallery.html">Pure Desi Ghee </a></h6>
                                <span><a href="single-gallery.html">Ghee</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Work Item 5 -->
                <div class="col-md-4 col-sm-12 design clean">
                    <div class="single-project-item project-bg-6">
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Content/images/g6.jpg"><i class="fal fa-plus"></i></a>
                                <h6><a href="gallery.html">Pure Desi Ghee </a></h6>
                                <span><a href="single-gallery.html">Ghee</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Work Item 6 -->
                <div class="col-md-4 col-sm-12 design web clean">
                    <div class="single-project-item project-bg-7">
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Content/images/g7.jpg"><i class="fal fa-plus"></i></a>
                                <h6><a href="gallery.html">Pure Desi Ghee </a></h6>
                                <span><a href="single-gallery.html">Ghee</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Work Item 7 -->
                <div class="col-md-4 col-sm-12 web graphics">
                    <div class="single-project-item project-bg-8">
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Content/images/g8.jpg"><i class="fal fa-plus"></i></a>
                                <h6><a href="gallery.html">Pure Desi Ghee </a></h6>
                                <span><a href="single-gallery.html">Ghee</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Work Item 8 -->
                <div class="col-md-4 col-sm-12 design clean">
                    <div class="single-project-item project-bg-9">
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Content/images/g9.jpg"><i class="fal fa-plus"></i></a>
                                <h6><a href="gallery.html">Pure Desi Ghee </a></h6>
                                <span><a href="single-gallery.html">Ghee</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Work Item 9 -->
                <div class="col-md-4 col-sm-12 design clean">
                    <div class="single-project-item project-bg-10">
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Content/images/g10.jpg"><i class="fal fa-plus"></i></a>
                                <h6><a href="gallery.html">Pure Desi Ghee </a></h6>
                                <span><a href="single-gallery.html">Ghee</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Work Item 11 -->
                <div class="col-md-4 col-sm-12 design clean">
                    <div class="single-project-item project-bg-11">
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Content/images/g11.jpg"><i class="fal fa-plus"></i></a>
                                <h6><a href="gallery.html">Pure Desi Ghee </a></h6>
                                <span><a href="single-gallery.html">Ghee</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Work Item 10 -->
            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </section>
    <!-- End: Work Section
    ==================================================-->
