﻿@{
    ViewBag.Title = "Home Page";

}
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NQKTQ5G');
</script>
<!-- End Google Tag Manager -->

<div class="slides_wrapper">
    <div class="slider_home" id="slider_owl">
        <!-- Slider 1 -->
        <div class="single_slider slide_bg_1">
            <div class="slider_item_tb">
                <div class="slider_item_tbcell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-sm-12">
                                <h5> Passionate About Purity </h5>
                                <h2>
                                    Passionate About Purity
                                </h2>
                                @*<div class="slider_btn">
                                        <a href="/Home/Contact" class="slider_btn_one more-link">
                                            Contact Us <i class="far fa-chevron-double-right"></i>
                                        </a>
                                        <a href="/Home/Contact" class="slider_btn_two more-link">
                                                Read More <i class="far fa-chevron-double-right"></i>
                                            </a>
                                    </div>*@
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Slider 1 -->
        <!-- Slider 2 -->
        <div class="single_slider slide_bg_2">
            <div class="slider_item_tb">
                <div class="slider_item_tbcell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-sm-12">
                                <h5> Passionate About Purity </h5>
                                <h2>
                                    Passionate About Purity
                                </h2>
                                @*<div class="slider_btn">
                                        <a href="/Home/Contact" class="slider_btn_one more-link">
                                            Contact Us <i class="far fa-chevron-double-right"></i>
                                        </a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Slider 2 -->
        <!-- Slider 3 -->
        <div class="single_slider slide_bg_3">
            <div class="slider_item_tb">
                <div class="slider_item_tbcell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-sm-12">
                                <h5> Passionate About Purity </h5>
                                <h2>
                                    Passionate About Purity
                                </h2>                                @*<div class="slider_btn">
                                        <a href="/Home/Contact" class="slider_btn_one more-link">
                                            Contact Us <i class="far fa-chevron-double-right"></i>
                                        </a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Slider 3 -->
        <!-- Slider 4 -->
        <div class="single_slider slide_bg_4">
            <div class="slider_item_tb">
                <div class="slider_item_tbcell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-sm-12">
                                <h5> Passionate About Purity </h5>
                                <h2>
                                    Passionate About Purity
                                </h2>
                                @*<div class="slider_btn">
                                        <a href="/Home/Contact" class="slider_btn_one more-link">
                                            Contact Us <i class="far fa-chevron-double-right"></i>
                                        </a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Slider 4 -->
    </div>
</div>

<!-- End:  Slider Section
==================================================-->
<!-- Start: About Us Section
==================================================-->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 my-auto">
                <div class="base-header base_header_left">
                    <span class="heading_small">
                        We welcome you on this website.
                    </span>

                    <ol>
                        <li> Your search is over here for looking the quality product.</li>
                        <li>  We make pure and quality product.</li>
                        <li> You have to believe in our quality as you don’t have any other option because we make them pure with full of ethics and no chances of adulteration.</li>

                    </ol>

                    <div class="about_list">
                        <h4>We never say the below statement.</h4>
                        <h4>If you are not satisfy we will refund your money.</h4>
                        <ul>
                            <li>As we know that we are giving the 100% quality and pure product.</li>
                            <li>Also we will not recommend to go with any kind of testing of our product.</li>
                            <li>As we are making this product with full of ethical values.</li>
                            <li> If you go for testing of our product you will loose your time and money.</li>
                        </ul>

                    </div>

                    @*<a href="about.html" class="more-link">Read More <i class="far fa-chevron-double-right"></i></a>*@
                </div>
            </div>
            <!-- /.about_wrp-->
            <div class="col-lg-6 col-md-12" id="scene">
                <div class="about_img layer" data-depth="0.20">
                    <img src="~/Content/images/test-objective.jpg" alt="image">
                </div>
            </div>
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End: About Us Section
==================================================-->
<!-- Start:Our Services Section
==================================================-->
<section class="service-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header pb-0">
            <span class="heading_small"> Services </span>
            <h2>
                We offer the best quality product.
            </h2>
        </div>
        <!-- End: Heading -->
        <div class="offset-2 col-lg-8 col-sm-12">

            <p>
                We believe in 100% quality. We never do adulteration in our product as we know it is not work for long term benefits.We are passionate about the profit but we also know the same will come from the quality only.
                We know that there is several ways for adulteration where the customer will not able to identify easily but our ethics will never allow us to do so.We are quality oriented people and believe in quality only.
            </p>
        </div>
        <!-- /. container -->
</section>
<!-- End:Our Services Section
==================================================-->
<!-- Start:  Call to action  Section
==================================================-->
<!--<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="cta-wrap">
                <div class="base-header">
                    <span class="heading_small"> Organic Food Services </span>
                </div>
                <h2>
                    Delivering organic integrity to
                    <span> everyone, everywhere. </span>
                </h2>
                <a href="#" class="more-link">
                    Our Services <i class="far fa-chevron-double-right"></i>
                </a>
            </div>
        </div>-->
<!--/ row - -->
<!--</div>-->
<!--/ Container - -->
<!--</section>-->
<!--   End:   Call to action Section
==================================================-->
<!-- Start: Our Shop Section
==================================================-->
<!--<section class="shop-section">
    <div class="container">-->
<!-- Start: Heading -->
<!--<div class="base-header">
    <span class="heading_small"> shop </span>
    <h2>Our Products </h2>
</div>-->
<!-- End: Heading -->
<!--<div class="row">
    <div class="shop-carousel" id="shop_carousel">
        <div class="product-wrap">-->
<!-- product-item -->
<!--<div class="product-img">
    <img src="~/Content/images/product1.jpg" alt="image">
    <span class="prod_badges">
        <span class="sale">-10%</span>
        <span class="new">New</span>
    </span>
    <div class="prod_love">
        <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
        <a class="fav-icon" href="#" tabindex="0"><i class="fal fa-heart"></i></a>
        <a class="view-icon" href="#" tabindex="0"><i class="fal fa-vector-square"></i></a>
    </div>
</div>
<div class="product-info">
    <div class="prod_rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <a href="single-product.html">
        <h4>Pecorino Romano </h4>
    </a>
    <p class="prod_price">
        <span class="new">$23.50</span>
        <span class="old">$55.50</span>
    </p>
</div>-->
<!-- End: .product-item -->
<!--</div>-->
<!-- /. product-wrap -->
<!--<div class="product-wrap">-->
<!-- product-item -->
<!--<div class="product-img">
    <img src="~/Content/images/product2.jpg" alt="image">
    <span class="prod_badges">
        <span class="sale">-10%</span>
        <span class="new">New</span>
    </span>
    <div class="prod_love">
        <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
        <a class="fav-icon" href="#" tabindex="0"><i class="fal fa-heart"></i></a>
        <a class="view-icon" href="#" tabindex="0"><i class="fal fa-vector-square"></i></a>
    </div>
</div>
<div class="product-info">
    <div class="prod_rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <a href="single-product.html">
        <h4>Evaporated Milk </h4>
    </a>
    <p class="prod_price">
        <span class="new">$23.50</span>
        <span class="old">$55.50</span>
    </p>
</div>-->
<!-- End: .product-item -->
<!--</div>-->
<!-- /. product-wrap -->
<!--<div class="product-wrap">-->
<!-- product-item -->
<!--<div class="product-img">
    <img src="~/Content/images/product3.jpg" alt="image">
    <span class="prod_badges">
        <span class="sale">-10%</span>
        <span class="new">New</span>
    </span>
    <div class="prod_love">
        <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
        <a class="fav-icon" href="#" tabindex="0"><i class="fal fa-heart"></i></a>
        <a class="view-icon" href="#" tabindex="0"><i class="fal fa-vector-square"></i></a>
    </div>
</div>
<div class="product-info">
    <div class="prod_rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <a href="single-product.html">
        <h4>Ricotta Salata </h4>
    </a>
    <p class="prod_price">
        <span class="new">$23.50</span>
        <span class="old">$55.50</span>
    </p>
</div>-->
<!-- End: .product-item -->
<!--</div>-->
<!-- /. product-wrap -->
<!--<div class="product-wrap">-->
<!-- product-item -->
<!--<div class="product-img">
    <img src="~/Content/images/product4.jpg" alt="image">
    <span class="prod_badges">
        <span class="sale">-10%</span>
        <span class="new">New</span>
    </span>
    <div class="prod_love">
        <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
        <a class="fav-icon" href="#" tabindex="0"><i class="fal fa-heart"></i></a>
        <a class="view-icon" href="#" tabindex="0"><i class="fal fa-vector-square"></i></a>
    </div>
</div>
<div class="product-info">
    <div class="prod_rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <a href="single-product.html">
        <h4>Pecorino Romano </h4>
    </a>
    <p class="prod_price">
        <span class="new">$23.50</span>
        <span class="old">$55.50</span>
    </p>
</div>-->
<!-- End: .product-item -->
<!--</div>-->
<!-- /. product-wrap -->
<!--<div class="product-wrap">-->
<!-- product-item -->
<!--<div class="product-img">
    <img src="~/Content/images/product2.jpg" alt="image">
    <span class="prod_badges">
        <span class="sale">-10%</span>
        <span class="new">New</span>
    </span>
    <div class="prod_love">
        <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
        <a class="fav-icon" href="#" tabindex="0"><i class="fal fa-heart"></i></a>
        <a class="view-icon" href="#" tabindex="0"><i class="fal fa-vector-square"></i></a>
    </div>
</div>
<div class="product-info">
    <div class="prod_rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <a href="single-product.html">
        <h4>Evaporated Milk </h4>
    </a>
    <p class="prod_price">
        <span class="new">$23.50</span>
        <span class="old">$55.50</span>
    </p>
</div>-->
<!-- End: .product-item -->
<!--</div>-->
<!-- /. product-wrap -->
<!--</div>-->
<!-- /. col-md-4 -->
<!--</div>-->
<!-- /. row -->
<!--</div>-->
<!-- /. container -->
<!--</section>-->
<!-- End: Our Shop Section
==================================================-->
<!-- Start:  Featured Product Section
==================================================-->
<!--<section class="featured-product-section">-->
<!-- Container -->
<!--<div class="container-fluid">-->
<!-- Start: Heading -->
<!--<div class="base-header">
    <span class="heading_small"> Products </span>
    <h2> Featured Product</h2>
</div>-->
<!-- End: Heading -->
<!--<div class="row">
    <div class="col-lg-5 col-sm-12  my-auto">
        <div class="fea-img-carousel" id="fea_carousel">
            <div class="fea-img"></div>
            <div class="fea-img"></div>
        </div>-->
<!-- End: Heading -->
<!--</div>
<div class="col-lg-7 col-sm-12 my-auto">
    <div class="featured-container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="fea-product-item">
                    <div class="fea-icon">
                        <i class="fad fa-bread-loaf"></i>
                    </div>
                    <div class="fea-text">
                        <h4>Healthy and Safe</h4>
                        <p>
                            The organic farming fruits vegetables grains and animals is simply healthier.
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-check"></i>
                                <span>100% Natural</span>
                            </li>
                            <li>
                                <i class="fa fa-check"></i>
                                <span>100% Organic</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
<!-- end: col-md-6 -->
<!--<div class="col-md-6 col-sm-12">
    <div class="fea-product-item">
        <div class="fea-icon">
            <i class="fad fa-cookie-bite"></i>
        </div>
        <div class="fea-text">
            <h4> Outstanding Flavor </h4>
            <p>
                The organic farming fruits vegetables grains and animals is simply healthier.
            </p>
            <ul>
                <li>
                    <i class="fa fa-check"></i>
                    <span>100% Natural</span>
                </li>
                <li>
                    <i class="fa fa-check"></i>
                    <span>100% Organic</span>
                </li>
            </ul>
        </div>
    </div>
</div>-->
<!--  end: col-md-6  -->
<!--<div class="col-md-6 col-sm-12">
    <div class="fea-product-item">
        <div class="fea-icon">
            <i class="fad fa-cheese-swiss"></i>
        </div>
        <div class="fea-text">
            <h4> No Genetical Modifi </h4>
            <p>
                The organic farming fruits vegetables grains and animals is simply healthier.
            </p>
            <ul>
                <li>
                    <i class="fa fa-check"></i>
                    <span>100% Natural</span>
                </li>
                <li>
                    <i class="fa fa-check"></i>
                    <span>100% Organic</span>
                </li>
            </ul>
        </div>
    </div>
</div>-->
<!--  end: col-md-6  -->
<!--<div class="col-md-6 col-sm-12">
    <div class="fea-product-item">
        <div class="fea-icon">
            <i class="fad fa-bread-loaf"></i>
        </div>
        <div class="fea-text">
            <h4> Climate Change</h4>
            <p>
                The organic farming fruits vegetables grains and animals is simply healthier.
            </p>
            <ul>
                <li>
                    <i class="fa fa-check"></i>
                    <span>100% Natural</span>
                </li>
                <li>
                    <i class="fa fa-check"></i>
                    <span>100% Organic</span>
                </li>
            </ul>
        </div>
    </div>
</div>-->
<!--  end: col-md-6  -->
<!--</div>
        </div>
    </div>
</div>-->
<!--/ row - -->
<!--</div>-->
<!--/ Container - -->
<!--</section>-->
<!--   End:  Featured Product  Section
==================================================-->
<!-- Start:  Team Section
==================================================-->
<!--<section class="team-section">
    <div class="container">-->
<!-- Start: Heading -->
<!--<div class="base-header">
    <span class="heading_small"> Team </span>
    <h2> Our Farmers</h2>
</div>-->
<!-- End: Heading -->
<!--<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">-->
<!-- team-list -->
<!--<div class="team-img">
    <img src="~/Content/images/team1.jpg" alt="image">
</div>
<div class="team-info">
    <div class="team-social">
        <ul>
            <li>
                <a href="#" class="fab fa-facebook-f"></a>
            </li>
            <li>
                <a href="#" class="fab fa-twitter"></a>
            </li>
            <li>
                <a href="#" class="fab fa-linkedin-in"></a>
            </li>
            <li>
                <a href="#" class="fab fa-skype"></a>
            </li>
        </ul>
    </div>
    <h4>Ben Stcoks </h4>
    <p> Tractor Driver</p>
</div>-->
<!-- End: .team-list -->
<!--</div>

<div class="col-lg-3 col-md-6 col-sm-12">-->
<!-- team-list -->
<!--<div class="team-img">
    <img src="~/Content/images/team2.jpg" alt="image">
</div>
<div class="team-info">
    <div class="team-social">
        <ul>
            <li>
                <a href="#" class="fab fa-facebook-f"></a>
            </li>
            <li>
                <a href="#" class="fab fa-twitter"></a>
            </li>
            <li>
                <a href="#" class="fab fa-linkedin-in"></a>
            </li>
            <li>
                <a href="#" class="fab fa-skype"></a>
            </li>
        </ul>
    </div>
    <h4>Adam Crew </h4>
    <p> Accountant</p>
</div>-->
<!-- End: .team-list -->
<!--</div>
<div class="col-lg-3 col-md-6 col-sm-12">-->
<!-- team-list -->
<!--<div class="team-img">
    <img src="~/Content/images/team3.jpg" alt="image">
</div>
<div class="team-info">
    <div class="team-social">
        <ul>
            <li>
                <a href="#" class="fab fa-facebook-f"></a>
            </li>
            <li>
                <a href="#" class="fab fa-twitter"></a>
            </li>
            <li>
                <a href="#" class="fab fa-linkedin-in"></a>
            </li>
            <li>
                <a href="#" class="fab fa-skype"></a>
            </li>
        </ul>
    </div>
    <h4>Marfi Jon </h4>
    <p> Marketer</p>
</div>-->
<!-- End: .team-list -->
<!--</div>

<div class="col-lg-3 col-md-6 col-sm-12">-->
<!-- team-list -->
<!--<div class="team-img">
    <img src="~/Content/images/team4.jpg" alt="image">
</div>
<div class="team-info">
    <div class="team-social">
        <ul>
            <li>
                <a href="#" class="fab fa-facebook-f"></a>
            </li>
            <li>
                <a href="#" class="fab fa-twitter"></a>
            </li>
            <li>
                <a href="#" class="fab fa-linkedin-in"></a>
            </li>
            <li>
                <a href="#" class="fab fa-skype"></a>
            </li>
        </ul>
    </div>
    <h4>Moris Jon </h4>
    <p> Marketer</p>
</div>-->
<!-- End: .team-list -->
<!--</div>
</div>-->
<!-- /. row -->
<!--</div>-->
<!-- /. container -->
<!--</section>-->
<!-- End: Team Section
==================================================-->
<!--  Start:Testimonials Section
==================================================-->
<!--<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12" id="scene2">
                <div class="testi_sing_img layer" data-depth="0.50">
                    <img alt="testimonial" src="~/Content/images/testimonial.png">
                </div>
            </div>

            <div class="col-lg-6 col-sm-12">-->
<!-- Start: Heading -->
<!--<div class="base-header base_header_left">
    <span class="heading_small"> Review </span>
    <h2> What Client's Say</h2>
</div>-->
<!-- End: Heading -->
<!--<div class="testimonial-carousel" id="testimonial">
    <div class="item">-->
<!-- profile 1-->
<!--<div class="testi_wrp">
        ben
        <div class="testi_info">
            <p>
                Organically grown crops tend use natural fertilizer like manure to improve growth
                to plant as amet cons adip scing elited id lectus quis dui euismod con after
                like manure to improve growth to plant .
            </p>
        </div>
        <div class="testi_img">
            <img alt="team" class="img-responsive" src="~/Content/images/testimonial1.jpg">
            <h4>Ben Stcoks <span>Manager</span></h4>
        </div>
    </div>
</div>-->
<!--End: profile 1-->
<!--<div class="item">-->
<!-- profile 2-->
<!--<div class="testi_wrp">
        <div class="testi_info">
            <p>
                Organically grown crops tend use natural fertilizer like manure to improve growth
                to plant as amet cons adip scing elited id lectus quis dui euismod con after
                like manure to improve growth to plant .
            </p>
        </div>
        <div class="testi_img">
            <img alt="team" class="img-responsive" src="~/Content/images/testimonial2.jpg">
            <h4>Adam Crew <span>Manager</span></h4>
        </div>
    </div>
</div>-->
<!-- End: profile 2 -->
<!--<div class="item">-->
<!-- profile 3-->
<!--<div class="testi_wrp">
        <div class="testi_info">
            <p>
                Organically grown crops tend use natural fertilizer like manure to improve growth
                to plant as amet cons adip scing elited id lectus quis dui euismod con after
                like manure to improve growth to plant .
            </p>
        </div>
        <div class="testi_img">
            <img alt="team" class="img-responsive" src="~/Content/images/testimonial2.jpg">
            <h4>Jeson Roy<span>Manager</span></h4>
        </div>
    </div>
</div>-->
<!--End: profile 3-->
<!--<div class="item">-->
<!-- profile 4-->
<!--<div class="testi_wrp">
        <div class="testi_info">
            <p>
                Organically grown crops tend use natural fertilizer like manure to improve growth
                to plant as amet cons adip scing elited id lectus quis dui euismod con after
                like manure to improve growth to plant .
            </p>
        </div>
        <div class="testi_img">
            <img alt="team" class="img-responsive" src="~/Content/images/testimonial1.jpg">
            <h4>Robert Son <span>Manager</span></h4>
        </div>
    </div>
</div>-->
<!-- End: profile 4 -->
<!--</div>
    </div>
</div>-->
<!--/.row -->
<!--</div>-->
<!--/.container -->
<!--</section>-->
<!--  End:Testimonials Section
==================================================-->
<!-- Start: Client Section
==================================================-->
<!--<section class="client-section">-->
<!-- Container -->
<!--<div class="container">
    <div class="row">-->
<!-- client list  -->
<!--<div class="client_carousel" id="client_carousel">-->
<!-- client 1 -->
<!--<div class="item">
    <a href="" class="client-box">
        <img alt="client" src="~/Content/images/client-1.png">
        <h5>Cinnamon Stick</h5>
    </a>
</div>-->
<!-- client 2 -->
<!--<div class="item">
    <a href="" class="client-box">
        <img alt="client" src="~/Content/images/client-2.png">
        <h5>Black Seeds </h5>
    </a>
</div>-->
<!-- client 3 -->
<!--<div class="item">
    <a href="" class="client-box">
        <img alt="client" src="~/Content/images/client-3.png">
        <h5>Black Seeds </h5>
    </a>
</div>-->
<!-- client 4 -->
<!--<div class="item">
    <a href="" class="client-box">
        <img alt="client" src="~/Content/images/client-4.png">
        <h5>Cinnamon Stick</h5>
    </a>
</div>-->
<!-- client 5 -->
<!--<div class="item">
    <a href="" class="client-box">
        <img alt="client" src="~/Content/images/client-1.png">
        <h5>Cinnamon Stick</h5>
    </a>
</div>-->
<!-- client 6 -->
<!--<div class="item">
    <a href="" class="client-box">
        <img alt="client" src="~/Content/images/client-2.png">
        <h5>Cinnamon Stick</h5>
    </a>
</div>-->
<!-- client 7 -->
<!--<div class="item">
        <a href="" class="client-box">
            <img alt="client" src="~/Content/images/client-3.png">
            <h5>Cinnamon Stick</h5>
        </a>
    </div>
</div>-->
<!--/ client list  -->
<!--</div>-->
<!--/ row - -->
<!--</div>-->
<!--/ Container - -->
<!--</section>-->
<!--   End:Client Section
==================================================-->
<!-- Start: Our Blog Section
==================================================-->
<!--<section class="blog-section">
    <div class="container">-->
<!-- Start: Heading -->
<!--<div class="base-header">
    <span class="heading_small"> Event </span>
    <h2> Latest Event</h2>
</div>-->
<!-- End: Heading -->
<!--<div class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog_wrp">
            <div class="blog_img">
                <a class="blog_img" href="blog.html">
                    <img class="img-responsive" src="~/Content/images/blog1.jpg" alt="">
                </a>
            </div>
            <div class="blog_info">
                <a href="blog.html">
                    <h4>4 Easy Steps to Keep Raw Milk Tasting Fresh</h4>
                </a>
                <p>Officiis mollitia beatae nisi explicabo harum voluptas corrupti eni after...</p>

                <div class="blog_date">
                    <span> <i class="fal fa-calendar-alt"></i> 6 Nov 2019</span>
                </div>
                <span class="blog_read">
                    <a href="blog.html">Read more</a><i class="far fa-chevron-double-right"></i>
                </span>
            </div>
        </div>
    </div>-->
<!-- End: col-md-4 -->
<!--<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="blog_wrp">
        <div class="blog_img">
            <a class="blog_img" href="blog.html">
                <img class="img-responsive" src="~/Content/images/blog2.jpg" alt="">
            </a>
        </div>
        <div class="blog_info">
            <a href="blog.html">
                <h4>Healthy Parents Buy Raw Milk Cheese for a Diet</h4>
            </a>
            <p>Officiis mollitia beatae nisi explicabo harum voluptas corrupti eni after...</p>
            <div class="blog_date">
                <span> <i class="fal fa-calendar-alt"></i> 6 Nov 2019</span>
            </div>
            <span class="blog_read">
                <a href="blog.html">Read more</a><i class="far fa-chevron-double-right"></i>
            </span>
        </div>
    </div>
</div>-->
<!-- End: col-md-4 -->
<!--<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="blog_wrp">
        <div class="blog_img">
            <a class="blog_img" href="blog.html">
                <img class="img-responsive" src="~/Content/images/blog3.jpg" alt="">
            </a>
        </div>
        <div class="blog_info">
            <a href="blog.html">
                <h4>Pasteurized A2 Milk vs. Raw Dairy Products</h4>
            </a>
            <p>Officiis mollitia beatae nisi explicabo harum voluptas corrupti eni after...</p>
            <div class="blog_date">
                <span> <i class="fal fa-calendar-alt"></i> 6 Nov 2019</span>
            </div>
            <span class="blog_read">
                <a href="blog.html">Read more</a><i class="far fa-chevron-double-right"></i>
            </span>
        </div>
    </div>
</div>-->
<!-- End: col-md-4 -->
<!--</div>-->
<!-- /. row -->
<!--</div>-->
<!-- /. container -->
<!--</section>-->
<!-- End: Our Blog Section
==================================================-->
