﻿
@{
    ViewBag.Title = "Objective";
}
<!-- breadcrumb -->
<header class="breadcrumb-section">
    <!-- Start: Header Content -->
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                <h3>Objcetive</h3>
                <p>
                    <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> Objective
                </p>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<!--/. breadcrumb
==================================================-->
<!-- Start: About Us Section
==================================================-->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 my-auto">
                <div class="base-header base_header_left">
                    <span class="heading_small">
                        Objective
                    </span>
                    <h2> Know About Objective</h2>
                    <p>
                        To ensure that the people on earth at large aware about the importance of our product.
                    </p>

                    <div class="about_list">
                        @*<img src="~/Content/images/test-objective.jpg" alt="">*@
                        <ol>
                            <li>Our product is not mere the product, its a medicine.</li>
                            <li>
                                To reach as maximum as possible and convey the message about the importance of the product.
                            </li>
                            <li>
                                To provide quality product without any adulteration.
                            </li>
                            <li>
                                To make people healthy and strong.
                            </li>
                        </ol>
                    </div>

                    @*<a href="/Home/About" class="more-link">Read More <i class="far fa-chevron-double-right"></i></a>*@
                </div>
            </div>
            <!-- /.about_wrp-->
            <div class="col-lg-6 col-md-12" id="scene">
                <div class="about_img layer" data-depth="0.20">
                    <img src="~/Content/images/objective.png" alt="image">
                </div>
            </div>
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End: About Us Section
==================================================-->
