﻿
@{
    ViewBag.Title = "OurService";
}

<!-- breadcrumb -->
<header class="breadcrumb-section">
    <!-- Start: Header Content -->
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                <h3>Our Services</h3>
                <p>
                    <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> Services
                </p>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<!--/. breadcrumb
==================================================-->
<!-- Start:Our Services Section
==================================================-->
<section class="service-section service-pg-service">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <span class="heading_small">services</span>
            <h2>What We Offer</h2>
        </div>
        <!-- End: Heading -->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- service-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <i class="fad fa-bread-loaf"></i>
                    </div>
                    <h4>Organic Gras Butter </h4>
                    <p>
                        Experienced stop to help you full Prond Experienced staffr eaelp
                        you help anytime you want
                    </p>
                    <a href="single-services.html" class="ser-link"><i class="far fa-chevron-double-right"></i></a>
                </div>
                <!-- End: .service-item -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- service-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <i class="fad fa-cookie-bite"></i>
                    </div>
                    <h4>Whole Milk Gallon </h4>
                    <p>
                        Experienced stop to help you full Prond Experienced staffr eaelp
                        you help anytime you want
                    </p>
                    <a href="single-services.html" class="ser-link"><i class="far fa-chevron-double-right"></i></a>
                </div>
                <!-- End: .service-item -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-item">
                    <div class="icon-serv">
                        <i class="fad fa-cheese-swiss"></i>
                    </div>
                    <h4>Aged Farm Cheese </h4>
                    <p>
                        Experienced stop to help you full Prond Experienced staffr eaelp
                        you help anytime you want
                    </p>
                    <a href="single-services.html" class="ser-link"><i class="far fa-chevron-double-right"></i></a>
                </div>
                <!-- End: .service-item -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- service-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <i class="fad fa-cookie-bite"></i>
                    </div>
                    <h4>Whole Milk Gallon </h4>
                    <p>
                        Experienced stop to help you full Prond Experienced staffr eaelp
                        you help anytime you want
                    </p>
                    <a href="single-services.html" class="ser-link"><i class="far fa-chevron-double-right"></i></a>
                </div>
                <!-- End: .service-item -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-item">
                    <div class="icon-serv">
                        <i class="fad fa-cheese-swiss"></i>
                    </div>
                    <h4>Aged Farm Cheese </h4>
                    <p>
                        Experienced stop to help you full Prond Experienced staffr eaelp
                        you help anytime you want
                    </p>
                    <a href="single-services.html" class="ser-link"><i class="far fa-chevron-double-right"></i></a>
                </div>
                <!-- End: .service-item -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- service-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <i class="fad fa-bread-loaf"></i>
                    </div>
                    <h4>Organic Gras Butter </h4>
                    <p>
                        Experienced stop to help you full Prond Experienced staffr eaelp
                        you help anytime you want
                    </p>
                    <a href="single-services.html" class="ser-link"><i class="far fa-chevron-double-right"></i></a>
                </div>
                <!-- End: .service-item -->
            </div>
        </div>
        <!-- /. row -->
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End:Our Services Section
==================================================-->
