﻿
@{
    ViewBag.Title = "Team";
}

<!-- breadcrumb -->
<header class="breadcrumb-section">
    <!-- Start: Header Content -->
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                <h3>Our Team</h3>
                <p>
                    <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> Team
                </p>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<!--/. breadcrumb
==================================================-->
<!-- Start:  Team Section
==================================================-->
<section class="team-section team-pg-team">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <span class="heading_small">Team</span>
            <h2> Our Farmers</h2>
        </div>
        <!-- End: Heading -->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- team-list -->
                <div class="team-img">
                    <img src="~/Content/images/team3.jpg" alt="image">
                </div>
                <div class="team-info">
                    <div class="team-social">
                        <ul>
                            <li>
                                <a href="#" class="fab fa-facebook-f"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-linkedin-in"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-skype"></a>
                            </li>
                        </ul>
                    </div>
                    <h4>Adam Crew </h4>
                    <p> Accountant</p>
                </div>
                <!-- End: .team-list -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- team-list -->
                <div class="team-img">
                    <img src="~/Content/images/team1.jpg" alt="image">
                </div>
                <div class="team-info">
                    <div class="team-social">
                        <ul>
                            <li>
                                <a href="#" class="fab fa-facebook-f"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-linkedin-in"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-skype"></a>
                            </li>
                        </ul>
                    </div>
                    <h4>Ben Stcoks </h4>
                    <p> Tractor Driver</p>
                </div>
                <!-- End: .team-list -->
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- team-list -->
                <div class="team-img">
                    <img src="~/Content/images/team2.jpg" alt="image">
                </div>
                <div class="team-info">
                    <div class="team-social">
                        <ul>
                            <li>
                                <a href="#" class="fab fa-facebook-f"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-linkedin-in"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-skype"></a>
                            </li>
                        </ul>
                    </div>
                    <h4>Adam Crew </h4>
                    <p> Accountant</p>
                </div>
                <!-- End: .team-list -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- team-list -->
                <div class="team-img">
                    <img src="~/Content/images/team2.jpg" alt="image">
                </div>
                <div class="team-info">
                    <div class="team-social">
                        <ul>
                            <li>
                                <a href="#" class="fab fa-facebook-f"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-linkedin-in"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-skype"></a>
                            </li>
                        </ul>
                    </div>
                    <h4>Moris Jon </h4>
                    <p> Marketer</p>
                </div>
                <!-- End: .team-list -->
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- team-list -->
                <div class="team-img">
                    <img src="~/Content/images/team3.jpg" alt="image">
                </div>
                <div class="team-info">
                    <div class="team-social">
                        <ul>
                            <li>
                                <a href="#" class="fab fa-facebook-f"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-linkedin-in"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-skype"></a>
                            </li>
                        </ul>
                    </div>
                    <h4> Ben Stcoks </h4>
                    <p> Marketer</p>
                </div>
                <!-- End: .team-list -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- team-list -->
                <div class="team-img">
                    <img src="~/Content/images/team1.jpg" alt="image">
                </div>
                <div class="team-info">
                    <div class="team-social">
                        <ul>
                            <li>
                                <a href="#" class="fab fa-facebook-f"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-linkedin-in"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-skype"></a>
                            </li>
                        </ul>
                    </div>
                    <h4>Adam Crew </h4>
                    <p> Accountant</p>
                </div>
                <!-- End: .team-list -->
            </div>
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End: Team Section
==================================================-->
