﻿
@{
    ViewBag.Title = "VisionMission";
}
<!-- breadcrumb -->
<header class="breadcrumb-section">
    <!-- Start: Header Content -->
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                <h3>Vision & Mission</h3>
                <p>
                    <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> Vision & Mission
                </p>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<!--/. breadcrumb
==================================================-->
<!-- Start: About Us Section
==================================================-->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 my-auto">
                <div class="base-header base_header_left">
                    <span class="heading_small">
                        Vision & Mission
                    </span>
                    <h4>
                        Vision statement
                    </h4>

                    <div class="about_list">
                        @*<img src="~/Content/images/test-objective.jpg" alt="">*@
                        <ol>
                            <li>
                                To give excellence to the community.                            
                            </li>
                            <li>
                                Maintain highest standard in quality.

                            </li>
                            <li>
                                To make people healthy and strong.

                            </li>
                        </ol>
                    </div>
                  
                    <h4>
                        Mission statement
                    </h4>

                    <div class="about_list">
                        @*<img src="~/Content/images/test-objective.jpg" alt="">*@
                        <ol>
                            <li>
                                We will provide quality products with ethical value.

                            </li>
                            <li>
                                Want to exceed the expectations of our customers.


                            </li>
                            <li>
                                We are committed with high integrity.


                            </li>
                        </ol>
                    </div>

                    @*<a href="/Home/About" class="more-link">Read More <i class="far fa-chevron-double-right"></i></a>*@
                </div>
            </div>
            <!-- /.about_wrp-->
            <div class="col-lg-6 col-md-12" id="scene">
                <div class="about_img layer" data-depth="0.20">
                    <img src="~/Content/images/visionmission.png" alt="image">
                </div>
            </div>
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End: About Us Section
==================================================-->
