﻿@model IEnumerable<puredesighee.Models.AddAddress>

@{
    ViewBag.Title = "Address";
}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 180px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<section class="account-section ">
    <div class="container">
        <div class="row float-right p-3" style="float: right">
            <!-- Trigger/Open The Modal -->
            <button id="myBtn" class="btn btn-info"> + Add</button>
        </div>
      
        <!-- The Modal -->
        <div id="myModal" class="modal">
            @using (Html.BeginForm("Address", "Account", FormMethod.Post))
            {

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-md-11">
                            <strong>Entry Adress</strong>
                        </div>
                        <div class="col-md-1">
                            <span class="close">&times;</span>
                        </div>

                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="ids" name="ids" class="form-control p-2" />
                        <div class="row">
                            <div class="col-md-2">
                                <input type="radio" id="home" name="type" value="home">
                                <label for="home">Home</label><br>
                            </div>
                            <div class="col-md-2">

                                <input type="radio" id="office" name="type" value="office">
                                <label for="office">Office</label><br>
                            </div>
                            <div class="col-md-2">

                                <input type="radio" id="other" name="type" value="other">
                                <label for="other">Other</label><br>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name </label>
                                <input type="text" id="name" name="name" class="form-control p-2" placeholder="Name" required/>
                            </div>
                            <div class="col-md-6">
                                <label>Mobile No </label>

                                <input type="text" id="mobileno" name="mobileno" class="form-control p-2" maxlength="10" required placeholder="Mobile Number" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Country </label>

                                <input type="text" id="country" name="country" class="form-control p-2" required placeholder="Country" />
                            </div>
                            <div class="col-md-6">
                                <label>State </label>

                                <input type="text" id="state" name="state" class="form-control p-2"required placeholder="State" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>City </label>

                                <input type="text" id="city" name="city" class="form-control p-2"required placeholder="City" />
                            </div>
                            <div class="col-md-6">
                                <label>Zipcode</label>

                                <input type="text" id="zipcode" name="zipcode" class="form-control p-2" maxlength="6" required placeholder="Zipcode" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Address</label>
                                <textarea id="address" name="address" rows="4" cols="50" class="form-control p-2"required placeholder="Address"></textarea>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <div class="row float-right">
                            <div class="col-md-4" style="margin-right:5px;">
                                <button class="btn btn-success mr-2">Save</button>
                            </div>
                            <div class="col-md-4">
                                <a type="button" class="btn btn-danger" onclick="cancel()">Cancel</a>
                            </div>

                        </div>
                    </div>
                </div>

            }


        </div>
        <table id="example" class="table table-striped table-bordered pt-1">
            <thead>
                <tr role="row">
                    <th width="140px;">
                        Name
                    </th>
                    <th width="80px;">Mobile No</th>
                    <th width="60px;">Country</th>
                    <th width="60px;">State</th>
                    <th width="60px;">City</th>
                    <th width="40px;">Zipcode</th>
                    <th width="40px;">Type</th>
                    <th width="150px;">Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var items in Model)
                {
                    <tr>
                        <td>@items.name</td>
                        <td>@items.mobileno</td>
                        <td>@items.country</td>
                        <td>@items.state</td>
                        <td>@items.city</td>
                        <td>@items.zipcode</td>
                        <td>@items.type</td>
                        <td>@items.address</td>
                        <td>
                            <button class="btn btn-warning"  onclick="getData(@items.id)" > <i class="fa fa-edit"></i></button>
                            <button class="btn btn-warning"  onclick="detete(@items.id)"> <i class="far fa-trash-alt"></i></button>
                        </td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        $('input[name=type][value=home]').attr('checked', 'checked');

        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
        clear();
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            clear();
        }
    }
   
    function getData(id) {
        $.ajax({
            datatype: "json",
            url: "/Account/getAddress?id=" + id,
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#name").val(data.name);
                $("#mobileno").val(data.mobileno);
                $("#country").val(data.country);
                $("#city").val(data.city);
                $("#state").val(data.state);
                $("#zipcode").val(data.zipcode);
                $("#ids").val(data.id);
                $("#address").val(data.address)
                $('input[name=type][value=' + data.type + ']').attr('checked', 'checked');
                modal.style.display = "block";

            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function clear() {
        $("#name").val("");
        $("#mobileno").val("");
        $("#country").val("");
        $("#city").val("");
        $("#state").val("");
        $("#zipcode").val("");
        $("#ids").val("");
        $("#address").val("")

    }
    function cancel() {
        
        clear();
        modal.style.display = "none";
    }

    function detete(id) {
        $.ajax({
            datatype: "json",
            url: "/Account/deleteAddres?id=" + id,
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                window.location.href = '@Url.Action("Address","Account")';
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
</script>

