﻿@model puredesighee.Models.Forgotpwd

@{
    ViewBag.Title = "ForgotPassword";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="account-section ">
        <div class="container col-lg-6 col-sm-6 offset-3">
            <div class="row">

                <!-- Start:  Forgot password Form  -->
                <div class="col-lg-12  col-sm-12">
                    <div class="login-form ">
                        <div class="row">
                            <div class="col-md-9">
                                <h2> Forgot Password </h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @if (TempData["success"] != null)
                            {
                                <div class="alert alert-success">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>success ! </strong>@TempData["success"]
                                </div>

                            }
                            @if (TempData["err"] != null)
                            {
                                <div class="alert alert-danger">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>worng ! </strong>@TempData["err"]
                                </div>

                            }
                        </div>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-lg-12 col-sm-12">
                            <label>Email *</label>
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "login-field", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                       
                        <div class="lost_pass">
                          
                            <a href="/Account/Login" class="forget"> Login ? </a>
                        </div>
                        <div class="col-sm-12 submit-area">
                            <button class="submit more-link" type="submit">Send</button>
                            <div id="msg" class="message"></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
