﻿@model puredesighee.Models.Login

@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Start: Account Section
    ==================================================-->
    <section class="account-section ">
        <div class="container col-lg-6 col-sm-6 offset-3">
            <div class="row">

                <!-- Start:  Login Form  -->
                <div class="col-lg-12  col-sm-12">
                    <div class="login-form ">
                        <div class="row">
                            <div class="col-md-9">
                                <h2> Login to Your Account </h2>
                            </div>
                            <div class="col-md-3 lost_pass">
                                <a href="/Account/Signup" class="forget"> New Sign Up? </a>

                            </div>
                        </div>
                        <div class="col-md-12">
                            @if (TempData["Error"] != null)
                            {
                                <div class="alert alert-danger">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Worng ! </strong>@TempData["Error"]
                                </div>

                            }
                        </div>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-lg-12 col-sm-12">
                            <label>User Name *</label>
                            @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "login-field", @placeholder = "Mobile Number or Email Id" } })
                            @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-12 col-sm-12">
                            <label>Password *</label>
                            @Html.EditorFor(model => model.userpwd, new { htmlAttributes = new { @class = "login-field", @placeholder = "Password",@id="pawd" } })
                            @Html.ValidationMessageFor(model => model.userpwd, "", new { @class = "text-danger" })
                        </div>
                        <div class="lost_pass">
         
                            <a href="/Account/ForgotPassword" class="forget"> Lost your password? </a>
                        </div>
                        <input type="hidden" name="type" id="type" value="pwd" />
                        <div class="col-sm-12 submit-area">
                            <button class="submit more-link" type="submit" onclick="getLogin()">Login</button>
                            <div id="msg" class="message"></div>
                        </div>
                       <div class="text-center"> or</div>
                        <div class="col-sm-12 submit-area">
                            <button class="submit more-link" type="submit" onclick="getOTP()">Get OTP</button>
                            <div id="msg" class="message"></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

}

<script>
    function getLogin() {
        $("#type").val("pwd");
    }
    function getOTP() {
        $("#type").val("otp");
        $("#pawd").val("");
    }
</script>