﻿@using puredesighee.Models

@model puredesighee.Models.VarifyOtp

@{
    ViewBag.Title = "sendOtp";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Start: Account Section
    ==================================================-->
    <section class="account-section ">
        <div class="container col-lg-6 col-sm-6 offset-3">
            <div class="row">

                <!-- Start:  Login Form  -->
                <div class="col-lg-12  col-sm-12">
                    <div class="login-form ">
                        <div class="row">
                            <div class="col-md-9">
                                <h2> OTP to Your Mobile </h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @if (TempData["Error"] != null)
                            {
                                <div class="alert alert-danger">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Worng ! </strong>@TempData["Error"]
                                </div>

                            }
                        </div>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-lg-12 col-sm-12">
                            <label>OTP *</label>
                            @Html.EditorFor(model => model.otp, new { htmlAttributes = new { @class = "login-field", @placeholder = "Otp" } })
                        </div>
                        @Html.EditorFor(model => model.mobileno, new { htmlAttributes = new { @class = "login-field", @type = "hidden" ,@id="mobileno"} })



                        <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4" style="margin-bottom:5px;margin-left:75%  ;">
                                        <button class="btn btn-success mr-2" onclick="send()">Resend OTP</button>
                                    </div>
                                </div>
                            

                        </div>
                        <div class="col-sm-12 submit-area">
                            <button class="submit more-link" type="submit">Verify & Proceed</button>
                            <div id="msg" class="message"></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

}

<script>

    function send() {
        var mobile = $("#mobileno").val();
        $.ajax({
            datatype: "json",
            url: "/Account/ResendOTP?mobileno=" + mobile,
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert("OTP Resend Successfully")
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }


</script>