﻿@model puredesighee.Models.SignUp

@{
    ViewBag.Title = "SignUp";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Start: Account Section
    ==================================================-->
    <section class="account-section">
        <div class="container col-lg-6 col-sm-6 offset-3">
            <div class="row">
                <!-- Start:  Signup  Form  -->
                <div class="col-lg-12 col-sm-12">
                    <div class="registration-form">

                        <div class="row">
                            <div class="col-md-8">
                                <h2> New User Signup! </h2>
                            </div>
                            <div class="col-md-4 lost_pass">
                                <a href="/Account/Login" class="forget"> Login?</a>
                            </div>
                        </div>
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-12">
                                @if (TempData["Error"] != null)
                                {
                                    <div class="alert alert-danger">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>Worng ! </strong>@TempData["Error"]
                                    </div>

                                }
                                @if (TempData["Message"] != null)
                                {
                                    <div class="alert alert-success">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>Success ! </strong>@TempData["Message"]
                                    </div>

                                }
                            </div>

                            <div class="col-sm-12">
                                <label>Name *</label>

                                @Html.EditorFor(model => model.customername, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Name" } })
                                @Html.ValidationMessageFor(model => model.customername, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Mobile No *</label>

                                @Html.EditorFor(model => model.mobileno, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Mobile No" } })
                                @Html.ValidationMessageFor(model => model.mobileno, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Email *</label>

                                @Html.EditorFor(model => model.emailid, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.emailid, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-6 col-sm-12">
                                <label>Password *</label>

                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-6 col-sm-12">
                                <label>Confrim Password *</label>

                                @Html.EditorFor(model => model.confrimpassword, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Confrim Password" } })
                                @Html.ValidationMessageFor(model => model.confrimpassword, "", new { @class = "text-danger" })

                            </div>
                            @*<div class="col-md-6 col-sm-12">
                                <label>Address </label>

                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Address" } })
                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Zip Code </label>

                                @Html.EditorFor(model => model.zipcode, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Zip Code" } })
                                @Html.ValidationMessageFor(model => model.zipcode, "", new { @class = "text-danger" })

                            </div>*@
                            <div class="col-sm-12 submit-area">
                                <button class="submit more-link" type="submit">Sign Up</button>
                                <div id="msg" class="message"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
}
