﻿@model puredesighee.Models.SignUp

@{
    ViewBag.Title = "SignUp";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Start: Account Section
    ==================================================-->
    <section class="account-section">
        <div class="container col-lg-8 col-sm-8 offset-2">
            <div class="row">
                <!-- Start:  Signup  Form  -->
                <div class="col-lg-12 col-sm-12">
                    <div class="registration-form">

                        <h2> User Profile! </h2>
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-12">
                                @if (TempData["Error"] != null)
                                {
                                    <div class="alert alert-danger">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>Worng ! </strong>@TempData["Error"]
                                    </div>

                                }
                                @if (TempData["Message"] != null)
                                {
                                    <div class="alert alert-success">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>Success ! </strong>@TempData["Message"]
                                    </div>

                                }
                            </div>

                            <div class="col-sm-12">
                                <label>Name *</label>
                                @Html.EditorFor(model => model.customername, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Name" } })
                                @Html.ValidationMessageFor(model => model.customername, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Mobile No *</label>

                                @Html.EditorFor(model => model.mobileno, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Mobile No" } })
                                @Html.ValidationMessageFor(model => model.mobileno, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Email *</label>

                                @Html.EditorFor(model => model.emailid, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.emailid, "", new { @class = "text-danger" })

                            </div>

                            @*<div class="col-md-12 col-sm-12">
                                <label>Address</label>

                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Address" } })
                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Country</label>

                                @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "signup-field", @placeholder = "country" } })
                                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>State</label>

                                @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "signup-field", @placeholder = "state" } })
                                @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>City</label>

                                @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "signup-field", @placeholder = "city" } })
                                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Zip Code</label>

                                @Html.EditorFor(model => model.zipcode, new { htmlAttributes = new { @class = "signup-field", @placeholder = "Zip Code" } })
                                @Html.ValidationMessageFor(model => model.zipcode, "", new { @class = "text-danger" })

                            </div>*@
                            <div class="col-sm-12 submit-area">
                                <button class="submit more-link" type="submit">Update</button>
                                <div id="msg" class="message"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
}
