﻿@model IEnumerable<puredesighee.Models.ProductItems>

@{
    ViewBag.Title = "Cart";
}

<!-- breadcrumb -->
<header class="breadcrumb-section">
    <!-- Start: Header Content -->
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                <h3> Shopping Cart </h3>
                <p>
                    <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> Cart
                </p>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<!--/. breadcrumb
==================================================-->
<!--  Start: Cart Section
==================================================-->
<div class="shop_cart">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive text-center">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="shop_cart_tr">
                                <th class="text-left">Products name</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Qty</th>
                                <th class="text-center">total</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ int i = 0;}
                            @foreach (var items in Model)
                            {
                                if (i == 0)
                                {
                                    i++;
                                    <tr>
                                        <td class="prod">
                                            <a href="/Product/CartRemove" class="cart-trash"> <i class="fa fa-trash"></i> </a>
                                            <a href="#">
                                                <img src="~/Content/images/sale_ghee_2.jpeg" alt="">
                                                <span class="ptitle">@items.itemname ( @items.itemwt @items.unitname)</span>
                                            </a>
                                        </td>
                                        <td class="unit">
                                            <span>₹ @items.salerate </span>
                                        </td>
                                        <td>

                                            
                                                @items.itemqty
                                            
                                        </td>
                                        @*<td class="qty">
                        <input type="number" value="1">
                    </td>*@
                                        <td class="unit">
                                            <span>
                                                ₹

                                                @if (Session["tot"] != null)
                                                {
                                                    @Session["tot"].ToString()
                                                }
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }

                                </tbody>
                    </table>
                    <div class="coupon-content">
                        <div class="coupon-box float-left">
                            <input type="text" placeholder="Enter coupon code...">
                            <button type="submit" class="more-link">Apply coupon</button>
                        </div>
                        <div class="update-btn float-right">
                            <button type="submit" class="more-link">Update Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop_cart_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5   offset-lg-7">
                <div class="grand-total-area">
                    <h4>Cart Totals</h4>
                    <p class="sub-total">
                        Subtotal<span class="amt">
                            ₹
                            @if (Session["tot"] != null)
                            {
                                @Session["tot"].ToString()

                            }
                        </span>
                    </p>
                    <p class="delivery">delivery<span class="amt">₹0.00</span></p>
                    <p class="discount">discount<span class="amt">₹0.00 </span></p>
                    <p class="grand-total">
                        total <span class="amt">
                            ₹
                            @if (Session["tot"] != null)
                            {
                                @Session["tot"].ToString()
                            }
                        </span>
                    </p>
                    <a class="pro-checkout" href="/Product/CheckOut">Proceed To Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  End: Cart Section
==================================================-->
