﻿@model puredesighee.Models.sorder
@{
    ViewBag.Title = "CheckOut";
}

<!-- breadcrumb -->
<header class="breadcrumb-section">
    <!-- Start: Header Content -->
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                <h3>Checkout</h3>
                <p>
                    <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> Checkout
                </p>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<!--/. breadcrumb
==================================================-->
<!--  Start: Checkout  Section
==================================================-->
<section class="checkout_section">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-12 col-sm-12">
            <div class="coupon-area">
                <div class="col-md-12">
                    <div class="coupon_show">-->
            <!-- ACCORDION START -->
            <!--<h3>
                Returning customer? <span id="showlogin">
                    Click here to
                    login
                </span>
            </h3>
            <div id="checkout-login" class="coupon-content" style="display: none;">
                <div class="coupon_info">
                    <form action="#">
                        <p class="input_name">
                            <label>Username or email <span class="required">*</span></label>
                            <input type="text">
                        </p>
                        <p class="input_pass">
                            <label>Password <span class="required">*</span></label>
                            <input type="text">
                        </p>
                        <p class="input_login">
                            <input type="submit" class="button" value="Login">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </p>
                        <p class="lost_pass">
                            <a href="#">Lost your password?</a>
                        </p>
                    </form>
                </div>
            </div>-->
            <!-- ACCORDION END -->
            <!-- ACCORDION START -->
            <!--<h3>
                Have a coupon? <span id="showcoupon">
                    Click here to enter your
                    code
                </span>
            </h3>
            <div id="checkout_coupon" class="coupon-checkout-content" style="display: none;">
                <div class="coupon-info">
                    <form action="#">
                        <p class="checkout-coupon">
                            <input type="text" placeholder="Coupon code">
                            <input type="submit" value="Apply Coupon">
                        </p>
                    </form>
                </div>
            </div>-->
            <!-- ACCORDION END -->
            <!--</div>
                    </div>
                </div>
            </div>-->

            <div id="checkoutform" class="col-lg-12 col-sm-12">
                @using (Html.BeginForm("OrderPlaceProcess", "Product", FormMethod.Post, new { @data_parsley_validate = "" }))
                {


                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">

                                @if (TempData["Man"] != null)
                                {
                                    <div class="alert alert-danger">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>Worng!</strong>@TempData["Man"]
                                    </div>
                                }
                            </div>
                            <div class="custom-title">
                                <h3>Billing details</h3>
                            </div>

                            @Html.TextBoxFor(m => m.custid, new { @type = "hidden", @class = "form-control", @placeholder = "Name", @value = "11" })
                            <div class="row d-none">
                                <div class="col-lg-12 col-sm-12">
                                    <label>Name *</label>
                                    @Html.TextBoxFor(m => m.customername, new { @class = "form-control", @placeholder = "Name", @id = "name" })


                                </div>
                                <div class="col-lg-12 col-sm-12 ">

                                    <label>Address *</label>
                                    @Html.TextBoxFor(m => m.address, new
                               {
                                   @class = "form-control required",
                                   @placeholder = "Address",
                                   @data_parsley_required = "",
                                   @data_parsley_required_message = "Address is required",
                                        @id = "address"
                               })
                                </div>
                            </div>
                            <div class="row d-none">
                                <div class="col-lg-12 col-sm-12">
                                    <label>Email *</label>

                                    @Html.TextBoxFor(m => m.emailid, new { @type = "email", @class = "form-control", @placeholder = "Email", @id = "email", @data_parsley_required = "", @data_parsley_required_message = "Emial is required" })
                                </div>

                            </div>
                            <div class="mt-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-8">Delivery Address</div>
                                            <div class="col-md-4">
                                                <a id="myBtn" class="btn btn-info" style="margin-left: 65px;"> +Add</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        @{int i = 0;}
                                        @if (TempData["address"] != null)
                                        {
                                            foreach (var add in (IEnumerable<puredesighee.Models.AddAddress>)TempData["address"])
                                            {
                                                if (TempData["less"] == null && i < 2)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-2">

                                                            @if (i == 0)
                                                            {
                                                                <input type="radio" name="address" value=@add.id checked onclick="setaddress(@add.id)" />
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" name="address" value=@add.id onclick="setaddress(@add.id)" />

                                                            }
                                                        </div>
                                                        <div class="col-md-10">
                                                            <p>
                                                                @add.name @if (add.type == "home")
                                                                {<i class="fas fa-home"></i>}
                                                                else if (add.type == "office")
                                                                {<i class="fad fa-phone-office"></i>} @add.mobileno
                                                            </p>
                                                            <p>
                                                                @add.address @add.city @add.state @add.zipcode @add.country
                                                            </p>
                                                        </div>
                                                    </div>
                                                }
                                                if (TempData["less"] != null)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-2">

                                                            @if (i == 0)
                                                            {
                                                                <input type="radio" name="address" value=@add.id checked onclick="setaddress(@add.id)" />
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" name="address" value=@add.id onclick="setaddress(@add.id)" />

                                                            }
                                                        </div>
                                                        <div class="col-md-10">
                                                            <p>
                                                                @add.name @if (add.type == "home")
                                                                {<i class="fas fa-home"></i>}
                                                                else if (add.type == "office")
                                                                {<i class="fad fa-phone-office"></i>} @add.mobileno
                                                            </p>
                                                            <p>
                                                                @add.address @add.city @add.state @add.zipcode @add.country
                                                            </p>
                                                        </div>
                                                    </div>
                                                }
                                                i++;



                                            }
                                        }
                                        @if (TempData["less"] == null)
                                        {
                                            <a type="button" href="/Product/CheckOut?less=1">Show More </a>}
                                        else
                                        {
                                            <a type="button" href="/Product/CheckOut?less=0">Show Less</a>
                                        }

                                    </div>
                                </div>
                                @Html.TextBoxFor(m => m.city, new { @type = "hidden", @class = "form-control", @placeholder = "City", @id = "city", @data_parsley_required = "", @data_parsley_required_message = "City is required" })
                                @Html.TextBoxFor(m => m.state, new { @type = "hidden", @class = "form-control", @placeholder = "State", @data_parsley_required = "", @id = "state", @data_parsley_required_message = "City is required" })
                                @Html.TextBoxFor(m => m.country, new { @type = "hidden", @class = "form-control", @placeholder = "Country", @id = "country", @data_parsley_required = "", @data_parsley_required_message = "Country is required" })
                                @Html.TextBoxFor(m => m.zipcode, new { @type = "hidden", @class = "form-control", @placeholder = "Zip Code", @id = "zipcode", @data_parsley_required = "", @data_parsley_required_message = "Zip is required" })
                                @Html.TextBoxFor(m => m.mobileno, new { @type = "hidden", @class = "form-control", @placeholder = "Mobile No", @id = "mobileno", @data_parsley_required = "", @data_parsley_required_message = "Mobile no is required" })







                                <div class="shipping_notes">
                                    <label>Other Notes</label>
                                    @Html.TextAreaFor(m => m.remarks, new { @class = "form-control", @placeholder = "remarks" })

                                </div>
                            </div>
                        </div>

                        <!-- end col -->
                        <div class="col-lg-6 col-sm-12">
                            <div class="checkout_order">
                                <div class="custom-title">
                                    <h3>Your Order </h3>
                                </div>
                                <div class="order-info">
                                    <ul class="order-list">
                                        <li class="title">
                                            <p>Product</p>
                                            <span>Total</span>
                                        </li>
                                        <li>
                                            <div class="single-box">
                                                <img src="~/Content/images/sale_ghee_2.jpeg" alt="">
                                                <p>
                                                    @Model.itemwt @Model.itemunit
                                                    <br />
                                                    @Model.itemname
                                                    @*<br />
                                                        @Model.itemqty * @Model.itemsalerate*@
                                                </p>
                                                <span>
                                                    ₹
                                                    @if (Session["tot"] != null)
                                                    {
                                                        @Session["tot"].ToString()
                                                    }

                                                </span>
                                            </div>
                                        </li>

                                        <li class="sub-total">
                                            <h6>Sub Total</h6>
                                            <span>
                                                ₹
                                                @if (Session["tot"] != null)
                                                {
                                                    @Session["tot"].ToString()
                                                }
                                            </span>

                                        </li>
                                        <li class="order-total">
                                            <h6>Order Total</h6>
                                            <span>
                                                ₹
                                                @if (Session["tot"] != null)
                                                {
                                                    @Session["tot"].ToString()
                                                }
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="payment_mth">
                                <div class="custom-title">
                                    <h3>Payment method </h3>
                                </div>
                                <br>
                                <div class="payment_wrap">

                                    <label class="checkbox payment-method inline">
                                        <input type="checkbox" id="customCheck4" value="option2" checked> Razorpay Payment
                                    </label>
                                    <button type="submit" class="more-link">Place An Order <i class="far fa-chevron-double-right"></i></button>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                }
            </div>
            <div id="myModal" class="modal ">
                @using (Html.BeginForm("Address", "Account", FormMethod.Post))
                {

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="col-md-11">
                                <strong>Entry Adress</strong>
                            </div>
                            <div class="col-md-1">
                                <span class="close">&times;</span>
                            </div>

                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="checkout" name="checkout" class="form-control p-2" value="1" />
                            <input type="hidden" id="idsadd" name="ids" class="form-control p-2" />
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="radio" id="homeadd" name="type" value="home">
                                    <label for="home">Home</label><br>
                                </div>
                                <div class="col-md-2">

                                    <input type="radio" id="officeadd" name="type" value="office">
                                    <label for="office">Office</label><br>
                                </div>
                                <div class="col-md-2">

                                    <input type="radio" id="otheradd" name="type" value="other">
                                    <label for="other">Other</label><br>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name </label>
                                    <input type="text" id="nameadd" name="name" class="form-control p-2" placeholder="Name" required />
                                </div>
                                <div class="col-md-6">
                                    <label>Mobile No </label>

                                    <input type="text" id="mobilenoadd" name="mobileno" class="form-control p-2" maxlength="10" required placeholder="Mobile Number" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Country </label>

                                    <input type="text" id="countryadd" name="country" class="form-control p-2" required placeholder="Country" />
                                </div>
                                <div class="col-md-6">
                                    <label>State </label>

                                    <input type="text" id="state" name="state" class="form-control p-2" placeholder="State" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>City </label>

                                    <input type="text" id="cityadd" name="city" class="form-control p-2" placeholder="City" required />
                                </div>
                                <div class="col-md-6">
                                    <label>Zipcode</label>

                                    <input type="text" id="zipcodeadd" name="zipcode" class="form-control p-2" maxlength="6" placeholder="Zipcode" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Address</label>
                                    <textarea id="addressadd" name="address" rows="4" cols="50" class="form-control p-2" required placeholder="Address"></textarea>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <div class="row float-right">
                                <div class="col-md-4" style="margin-right:5px;">
                                    <button class="btn btn-success mr-2">Save</button>
                                </div>
                                <div class="col-md-4">
                                    <a type="button" class="btn btn-danger" onclick="cancel()">Cancel</a>
                                </div>

                            </div>
                        </div>
                    </div>

                }


            </div>

            <!-- end content -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!--  End: Checkout  Section
==================================================-->
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 190px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        $('input[name=type][value=home]').attr('checked', 'checked');

        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
        clear();
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            clear();
        }
    }

    function setaddress(id) {
        $.ajax({
            datatype: "json",
            url: "/Account/getAddress?id=" + id,
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#name").val(data.name);
                $("#mobileno").val(data.mobileno);
                $("#country").val(data.country);
                $("#city").val(data.city);
                $("#state").val(data.state);
                $("#zipcode").val(data.zipcode);
                $("#ids").val(data.id);
                $("#address").val(data.address)
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function clear() {
        $("#nameadd").val("");
        $("#mobilenoadd").val("");
        $("#countryadd").val("");
        $("#cityadd").val("");
        $("#stateadd").val("");
        $("#zipcodeadd").val("");
        $("#idsadd").val("");
        $("#addressadd").val("")

    }

    function cancel() {
        clear();
        modal.style.display = "none";
    }

</script>