﻿@model IEnumerable<puredesighee.Models.OrderEntity>

@{
    ViewBag.Title = "getOrder";
}
<section class="container">
    @*<div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">New Order</h3>
                    </div>

                    <div class="card-body">*@

    <table id="example" class="table table-striped table-bordered pt-1">
        <thead>
            <tr role="row">
                <th>
                    ID
                </th>
                <th>Code</th>
                <th>Date</th>
                <th>Time</th>
                <th>Customer Name</th>
                <th>Mobile No</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}

            @foreach (var items in Model)
            {
                <tr>
                    <td>@items.soid</td>
                    <td>@items.socode</td>
                    <td>@items.sodate</td>
                    <td>@items.sotime</td>
                    <td>@items.CustomerName</td>
                    <td>@items.MobileNo</td>
                    <td>@items.TotalAmt</td>
                    <td>@items.ordstatus</td>
                    <td>

                        <a href="@Url.Action("Invoice", "Product", new { SoID = items.soid })"
                           type="submit"
                           target="_blank"
                           class="btn btn-warning">
                            Invoice
                        </a>
                    </td>
                    @*<td><a type="button" class="btn btn-circle btn-success btn-sm show-tooltip" value="Approve" href="@Url.Action("SingleInvoice", "Product",new {order=items }, new {@target="_blank" })"  /></td>*@
                </tr>
                i++;
            }
        </tbody>
    </table>
    @*</div>
                    </div>
                </div>
            </div>
        </div>*@
</section>
