﻿@model IEnumerable<puredesighee.Models.ProductItems>

@{
    ViewBag.Title = "Products";
}

<!-- breadcrumb -->
<header class="breadcrumb-section">
    <!-- Start: Header Content -->
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                <h3>Our Shop</h3>
                <p>
                    <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> Shop
                </p>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<!--/. breadcrumb
==================================================-->
<!-- Start: Our Shop  Section
==================================================-->
<section class="shop-section shop-pg-shop">
    <div class="container">
        <div class="row shop-carousel">
            <div class="col-sm-12 shop-filter">
                @*<p class="product_count">Showing 1–8 of 12 results</p>
                <div class="select-group">
                    <select name="total_review">
                        <option value="menu_order" selected="selected">Default Sorting</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                    </select>
                </div>
            </div>*@
            @{ int i = 0;}
            @foreach (var items in Model)
            {
                if (i == 0)
                {
                    i++;
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="product-wrap">
                        <!-- product-item -->
                        <div class="product-img">
                            <img src="~/Content/images/sale_ghee_2.jpeg" alt="image">
                            @*<span class="prod_badges">
                <span class="sale">-10%</span>
                <span class="new">New</span>
            </span>*@
                            <div class="prod_love">
                                <a class="cart-icon" href="@Url.Action("SingleProduct", "Product", new { itemId = @items.itemid })"><i class="fal fa-shopping-cart"></i></a>
                                @*<a class="fav-icon" href="#" tabindex="0"><i class="fal fa-heart"></i></a>
                <a class="view-icon" href="#" tabindex="0"><i class="fal fa-vector-square"></i></a>*@
                            </div>
                        </div>
                        <div class="product-info">
                            @*<div class="prod_rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>*@
                            <a href="@Url.Action("SingleProduct", "Product", new { itemId = @items.itemid })">
                                <h4>@items.itemname </h4>
                            </a>
                            <p class="prod_price">
                                <span class="new">@items.itemwt @items.unitname</span>
                                <br />
                                <span class="new">₹ @items.salerate</span>
                                <br />
                                <span class="new">(Including all taxes and courier charges)</span>
                                <br />
                            </p>

                        </div>
                        <!-- End: .product-item -->
                        <div align="center" valign="center">
                            <a href="@Url.Action("SingleProduct", "Product", new { itemId = @items.itemid })" class="btn btn-warning">Add TO CART</a>
                            <a href="@Url.Action("SingleProduct", "Product", new { itemId = @items.itemid,buyNow=1 })" class="btn btn-success">BUY NOW</a>

                        </div>

                    </div>
                    
                </div>
                    <!-- /. product-wrap -->
                }
            }
        </div>
        <!-- /. row -->

        @*<div class="pagination-link">
            <ul>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#"><i class="fal fa-long-arrow-right"></i></a></li>
            </ul>
        </div>*@
        <!-- /. pagination -->
    </div>
    <!-- /. container -->
</section>
<!-- End: Our Shop Section
==================================================-->
