﻿@model puredesighee.Models.ProductItems

@{
    ViewBag.Title = "SingleProduct";
}
<style>
    .fix-hw {
        height: 590px;
        width: 450px;
    }
</style>
<!-- breadcrumb -->
<header class="breadcrumb-section">
    <!-- Start: Header Content -->
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.5s">
            <div class="col-sm-12">
                <!-- Headline Goes Here -->
                <h3>Single Shop</h3>
                <p>
                    <a href="/Home/Index"> <i class="fal fa-home-alt"></i> Home </a> <i class="fas fa-chevron-right"></i> Shop Detail
                </p>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: Header Content -->
</header>
<!--/. breadcrumb
==================================================-->
<!-- End: Shop Details Section
==================================================-->
<div class="shop-product-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="shop-products">
                    <div class="single-item-detail">
                        <div class="product-thumbnail">
                            <div class="single-thumbnail-big">
                                <a class="project-link" href="~/Content/images/ghee_2.jpg" tabindex="0">
                                    <img class="fix-hw" src="~/Content/images/ghee_2.jpg" alt="">
                                </a>
                                <a  class="project-link" href="~/Content/images/ghee_4.jpg" tabindex="0">
                                    <img class="fix-hw" src="~/Content/images/ghee_4.jpg" alt="">
                                </a>
                                <a class="project-link" href="~/Content/images/ghee_2.jpg" tabindex="0">
                                    <img class="fix-hw" src="~/Content/images/ghee_2.jpg" alt="">
                                </a>
                                <a class="project-link" href="~/Content/images/ghee_1.jpg" tabindex="0">
                                    <img class="fix-hw" src="~/Content/images/ghee_1.jpg" alt="">
                                </a>
                                <a class="project-link" href="~/Content/images/ghee_4.jpg" tabindex="0">
                                    <img class="fix-hw" src="~/Content/images/ghee_4.jpg" alt="">
                                </a>
                            </div>
                            <div class="single-thumbnail-small row">
                                <div class="1 single-thumb" data-slick-index="1">
                                    <img src="~/Content/images/ghee_2.jpg" alt="thumb1">
                                </div>
                                <div class="2 single-thumb" data-slick-index="2">
                                    <img src="~/Content/images/ghee_4.jpg" alt="thumb1">
                                </div>
                                <div class="3 single-thumb" data-slick-index="3">
                                    <img src="~/Content/images/ghee_2.jpg" alt="thumb1">
                                </div>
                                <div class="4 single-thumb" data-slick-index="4">
                                    <img src="~/Content/images/ghee_1.jpg" alt="thumb1">
                                </div>
                                <div class="5 single-thumb" data-slick-index="5">
                                    <img src="~/Content/images/ghee_4.jpg" alt="thumb1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="allproduct-info">
                    <div class="tittle_product">
                        <span class="product-sub-tit">Ghee </span>
                        <h4>@Model.itemname </h4>
                    </div>
                    <div class="allproduct-price-area">
                        <span class="price">
                            @*<span><del>$90</del></span>*@
                            <span class="n-amt">@Model.itemwt @Model.unitname </span>
                            <br />
                            <span class="n-amt">₹ @Model.salerate </span>
                            <br />
                            <span class="n-amt">(Including all taxes and courier charges)</span>
                        </span>
                        @*<div class="star-rating rating2">
                                <ul>
                                    <li class="star yes"><i class="fa fa-star"></i></li>
                                    <li class="star yes"><i class="fa fa-star"></i></li>
                                    <li class="star yes"><i class="fa fa-star"></i></li>
                                    <li class="star yes"><i class="fa fa-star"></i></li>
                                    <li class="star no"><i class="fa fa-star"></i></li>
                                    <li class="reviews"><a href="#">12 Reviews(s)</a> </li>
                                </ul>
                            </div>*@
                    </div>
                    <div class="p-content">
                        <p class="d-content">
                            We strongly believe in quality and we know that once you come to know that the product is a quality one then you surely re-order. We will give a guarantee about the purity of our A2 Desi cow ghee. We used pure A2 Desi cow milk to produce pure ghee from the traditional bilona method.
                        </p>
                    </div>
                    @using (Html.BeginForm("GetQuntity", "Product", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.itemid);
                        @Html.HiddenFor(m => m.itemname);
                        @Html.HiddenFor(m => m.salerate);
                        <div class="cart-quantity">
                            <div class="cart-plus-minus"  >
                                @*@Html.EditorFor(m => m.itemqty, new { htmlAttributes = new { @class = "cart-plus-minus-box" ,@value=@Model.itemqty } })*@

                                <input class="cart-plus-minus-box"    type="text"   name="itemqty" value=@ViewBag.qty>
                            </div>
                        </div>
                        <div class="allchoices">
                            <div class="choice-icon">
                                <ul>
                                    <li>
                                        <button type="submit" class="text-uppercase adtocart">add to cart</button>

                                    </li>
                                    @*<li>
                                        <a href=""><span class="heart"><i class="fa fa-heart"></i></span></a>
                                    </li>*@
                                </ul>
                            </div>
                        </div>

                    }
                    <div class="categories-area">
                        <p class="category"><span>Number</span></p>
                        <span> 00001</span>
                    </div>
                    <div class="categories-area">
                        <p class="category"><span>Categories</span></p>
                        <ul>
                            <li><a href="" class="">Ghee </a></li>

                        </ul>
                    </div>

                    <div class="categories-area">
                        <p class="category"><span>Tags </span> </p>
                        <ul>
                            <li><a href="" class="">Cow Ghee, </a></li>
                            <li><a href="" class="">A2 Cow Ghee </a></li>

                        </ul>
                    </div>

                    @*<div class="categories-area share-area">
                            <p class="category"><span>Share </span> </p>
                            <ul>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cust-reviews-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab"
                       data-toggle="tab"
                       href="#nav-home"
                       role="tab" aria-controls="nav-home"
                       aria-selected="true"
                       data-bs-target="#nav-home">
                        product
                        description
                    </a>
                    <a class="nav-item nav-link"
                       id="nav-profile-tab"
                       data-toggle="tab"
                       href="#nav-profile"
                       role="tab"
                       aria-controls="nav-profile"
                       aria-selected="false"
                       data-bs-target="#nav-profile">Additional Information</a>
                   <a class="nav-item nav-link" 
                      id="nav-contact-tab" 
                      data-toggle="tab"
                      href="#nav-contact"
                      role="tab" 
                      aria-controls="nav-contact" 
                      aria-selected="false"
                      data-bs-target="#nav-contact">Shipping Policy</a>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="product_des tab-pane fade show active" id="nav-home" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <p>
                            We strongly believe in quality as it is related with health of our customers,  We will give guarantee about the purety of our A2 desi cow ghee. We used 30 litre pure A2 desi cow milk to produce pure ghee from traditional bilona method.
                        </p>

                    </div>
                    <div class="product_aditi_cont tab-pane fade show" id="nav-profile" role="tabpanel"
                         aria-labelledby="nav-profile-tab">
                        <p>
                            <h3>
                                Specification
                            </h3>
                        </p>
                        <table class="prod_attributes">
                            <tbody>
                                <tr>
                                    <th>Brand</th>
                                    <td>Balram</td>
                                </tr>
                                <tr class="attri">
                                    <th>Model name</th>
                                    <td>Pure A2 Cow ghee</td>
                                </tr>
                                <tr class="attri">
                                    <th>Container type</th>
                                    <td>Glass bottle</td>
                                </tr>
                                <tr class="attri">
                                    <th>Quantity</th>
                                    <td>500ml</td>
                                </tr>
                                <tr class="attri">
                                    <th>Maximum shelf life</th>
                                    <td>3 month</td>
                                </tr>
                                <tr class="attri">
                                    <th>Source type</th>
                                    <td>A2 cow milk</td>
                                </tr>
                                <tr class="attri">
                                    <th>Organic</th>
                                    <td>Yes</td>
                                </tr>
                                <tr class="attri">
                                    <th>Added preservatives</th>
                                    <td>No</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="product_revi tab-pane fade show" id="nav-contact" role="tabpanel"
                         aria-labelledby="nav-contact-tab">
                        <div class="revi_text">
                            <p>
                                <h4>
                                    Shipment processing time
                                </h4>

                                Our team endeavors to process and ship orders within 2-3 working days.
                                In case of peak seasons or high volumes of orders, your shipment might take a few additional days to be delivered.
                                If you are experiencing a significant delay in receiving your order, please contact us via e-mail at contact@puredesigheeofindia.co.in                            
                            </p>
                            <div class="rat_des">
                                <p>
                                    <h4>
                                        Delivery rates and partners
                                    </h4>

                                    We’ve got this covered. We offer FREE shipping on every order within India.

                                    Our delivery carriers are:

                                    Blue Dart <br />
                                    FedEx<br />
                                    Gati<br />
                                    Speed Post<br />
                                    Delhivery<br />
                                </p>

                                <p>
                                    <h4>
                                        Tracking an order
                                    </h4>

                                    Once you’ve successfully placed an order our website, you will receive an e-mail confirmation with your tracking code. You can check the status of your order by logging into your account on our website. 
                                </p>

                                <p>
                                    <h4>
                                        Packaging
                                    </h4>

                                    We know how exciting receiving a package can be and that’s why we put in extra care into the packaging. We consider it our responsibility to deliver the product at your door step, and as a part of assuring that the product is perfect, we urge all customers to inspect the package for any damage or tampering before receiving or signing for receipt.
                                </p>

                                <p>
                                    <h4>
                                        Return policy
                                    </h4>

                                    No exchange and return possible.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:Footer Section
==================================================-->
<!--  Start: Related Product section
=============================================-->
<!--<section class="shop-section related_product_section">
    <div class="container">-->
<!-- Start: Heading -->
<!--<div class="base-header">
    <span class="heading_small"> Products </span>
    <h2>Related Products </h2>
</div>-->
<!-- End: Heading -->
<!--<div class="row">
    <div class="shop-carousel" id="shop_carousel">
        <div class="product-wrap">-->
<!-- product-item -->
<!--<div class="product-img">
    <img src="~/Content/images/product1.jpg" alt="image">
    <span class="prod_badges">
        <span class="sale">-10%</span>
        <span class="new">New</span>
    </span>
    <div class="prod_love">
        <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
        <a class="fav-icon" href="#" tabindex="0"><i class="fal fa-heart"></i></a>
        <a class="view-icon" href="#" tabindex="0"><i class="fal fa-vector-square"></i></a>
    </div>
</div>
<div class="product-info">
    <div class="prod_rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <a href="single-product.html">
        <h4>Pecorino Romano </h4>
    </a>
    <p class="prod_price">
        <span class="new">$23.50</span>
        <span class="old">$55.50</span>
    </p>
</div>-->
<!-- End: .product-item -->
<!--</div>-->
<!-- /. product-wrap -->
<!--<div class="product-wrap">-->
<!-- product-item -->
<!--<div class="product-img">
    <img src="~/Content/images/product2.jpg" alt="image">
    <span class="prod_badges">
        <span class="sale">-10%</span>
        <span class="new">New</span>
    </span>
    <div class="prod_love">
        <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
        <a class="fav-icon" href="#" tabindex="0"><i class="fal fa-heart"></i></a>
        <a class="view-icon" href="#" tabindex="0"><i class="fal fa-vector-square"></i></a>
    </div>
</div>
<div class="product-info">
    <div class="prod_rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <a href="single-product.html">
        <h4>Evaporated Milk </h4>
    </a>
    <p class="prod_price">
        <span class="new">$23.50</span>
        <span class="old">$55.50</span>
    </p>
</div>-->
<!-- End: .product-item -->
<!--</div>-->
<!-- /. product-wrap -->
<!--<div class="product-wrap">-->
<!-- product-item -->
<!--<div class="product-img">
    <img src="~/Content/images/product3.jpg" alt="image">
    <span class="prod_badges">
        <span class="sale">-10%</span>
        <span class="new">New</span>
    </span>
    <div class="prod_love">
        <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
        <a class="fav-icon" href="#" tabindex="0"><i class="fal fa-heart"></i></a>
        <a class="view-icon" href="#" tabindex="0"><i class="fal fa-vector-square"></i></a>
    </div>
</div>
<div class="product-info">
    <div class="prod_rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <a href="single-product.html">
        <h4>Ricotta Salata </h4>
    </a>
    <p class="prod_price">
        <span class="new">$23.50</span>
        <span class="old">$55.50</span>
    </p>
</div>-->
<!-- End: .product-item -->
<!--</div>-->
<!-- /. product-wrap -->
<!--<div class="product-wrap">-->
<!-- product-item -->
<!--<div class="product-img">
    <img src="~/Content/images/product4.jpg" alt="image">
    <span class="prod_badges">
        <span class="sale">-10%</span>
        <span class="new">New</span>
    </span>
    <div class="prod_love">
        <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
        <a class="fav-icon" href="#" tabindex="0"><i class="fal fa-heart"></i></a>
        <a class="view-icon" href="#" tabindex="0"><i class="fal fa-vector-square"></i></a>
    </div>
</div>
<div class="product-info">
    <div class="prod_rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <a href="single-product.html">
        <h4>Pecorino Romano </h4>
    </a>
    <p class="prod_price">
        <span class="new">$23.50</span>
        <span class="old">$55.50</span>
    </p>
</div>-->
<!-- End: .product-item -->
<!--</div>-->
<!-- /. product-wrap -->
<!--<div class="product-wrap">-->
<!-- product-item -->
<!--<div class="product-img">
    <img src="~/Content/images/product2.jpg" alt="image">
    <span class="prod_badges">
        <span class="sale">-10%</span>
        <span class="new">New</span>
    </span>
    <div class="prod_love">
        <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
        <a class="fav-icon" href="#" tabindex="0"><i class="fal fa-heart"></i></a>
        <a class="view-icon" href="#" tabindex="0"><i class="fal fa-vector-square"></i></a>
    </div>
</div>
<div class="product-info">
    <div class="prod_rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <a href="single-product.html">
        <h4>Evaporated Milk </h4>
    </a>
    <p class="prod_price">
        <span class="new">$23.50</span>
        <span class="old">$55.50</span>
    </p>
</div>-->
<!-- End: .product-item -->
<!--</div>-->
<!-- /. product-wrap -->
<!--</div>-->
<!-- /. col-md-4 -->
<!--</div>-->
<!-- /. row -->
<!--</div>-->
<!-- /. container -->
<!-- /. container -->
<!--</section>-->
<!-- End: Related Product Section
==================================================-->
